[2017-07-21 09:08] anton-johansson opened #1 "Installation instructions"
I tried to get this working in my Kubuntu 17.04 dist with the following:
1. Cloned the Kernel from `git://kernel.ubuntu.com/ubuntu/ubuntu-zesty.git`
2. Applied your changes from torvalds/linux#332
3. Built it and installed it [this way](https://wiki.ubuntu.com/Kernel/BuildYourOwnKernel) and rebooted.

Is there anything else I need to do to make it work? I'm quite lost after this, it feels like I n

[2017-08-29 16:09] peterychuang opened #2 "Two sides of the trackpad not responsive"
Hi @robotrovsky, thank you for the great work!

I've been using the Magic Trakpad 2 with cable on Linux (I patch the kernel with [the patch you submitted to linux-input](https://patchwork.kernel.org/patch/9831283/)) for a bit over an afternoon, and it mostly works fine. However, I notice that sizeable portions on both sides of the touchpad aren't responsive. In those areas, click is registered, bu

[2017-08-30 05:30] peterychuang commented on #2
It's probably related: the trackpad's size in mm reported in ```libinput list-devices``` is wrong:

[code]

And I've just noticed that part of the top of the trackpad isn't responsive in the way I described in the previous message.

[2017-08-30 06:48] peterychuang commented on #2
On further investigation, I find out that this is in fact a problem with ```libinput```, not your driver.

Thanks again for your work. I'm closing this issue.

[2017-08-30 06:48] #2 closed

[2017-08-31 18:56] mwyborski commented on #2
Hi @peterychuang !

Thank you. Good to know, that you sorted out the problems. Sadly i got no response at all about the official patch. Would be nice to see it in mainline, but doesn't seem like it will happen soon :-/

[2017-08-31 19:18] mwyborski commented on #1
@anton-johansson you should make sure, that the correct driver bcm5974 is loaded for the device. Maybe the instructions here will help you:
https://github.com/robbi5/magictrackpad2-dkms

[2017-08-31 19:18] #1 closed

[2017-09-01 05:32] peterychuang commented on #2
@robotrovsky, Yes, it does take quite a bit of persistence to get patches merged into mainline.

Just curious, will you be working on getting the trackpad working via Bluetooth?

[2017-09-01 07:14] mwyborski commented on #2
I think that should not be too hard, as the protocol is the same. But i won't spend more time on the driver, if i don't get any feedback.

[2017-09-10 13:19] ponyfleisch commented on #2
@peterychuang for bluetooth, have a look at my driver here: https://github.com/ponyfleisch/hid-magictrackpad2

[2017-09-10 21:00] peterychuang commented on #2
@ponyfleisch thanks for your work! though do you happen to have the version of the driver that I can use to patch the kernel directly instead of dkms?

[2017-09-10 23:49] ponyfleisch commented on #2
@peterychuang not at the moment. can you just run make in usr/src/hid-magictrackpad2-4.10+hid-magictrackpad2/ and do `rmmod hid-generic; insmod ./hid-magictrackpad2.ko` to test if it works generally?

[2018-06-03 11:54] poisonnuke opened #3 "Support for Force-Feedback"
Hello @robotrovsky
may I ask in the first play, how you where able to determine all the values for the driver? Reverese-Engineering by intercepting the communications?

I am interested in the force-feedback functionality, disabeling the default force-touch and sending my own events. If possible with different profiles.

[2018-06-03 14:12] mwyborski commented on #3
Hi @poisonnuke
Yes, i tried to reverse engineer the protocol, but in the hid-magicmouse was already the parsing of the Magic Trackpad 1,which seems to be similar or the same. I can not tell because i have no MT1.
The format is as follows:
header + 9 bytes finger report for each recognized touch.
The header in USB is 12 bytes and in bluetooth mode 4 bytes.

Look at magicmouse_emit_touch to see the

[2018-06-05 12:36] poisonnuke opened #5 "quirks.c and 4.14.43"
when trying to compile to the rasbian kernel, I receive the following errors:

`In file included from drivers/hid/hid-core.c:34:0:
drivers/hid/hid-core.c:1982:42: error: ‘USB_DEVICE_ID_ASUSTEK_T100_KEYBOARD’ undeclared here (not in a function)
  { HID_USB_DEVICE(USB_VENDOR_ID_ASUSTEK, USB_DEVICE_ID_ASUSTEK_T100_KEYBOARD) },
                                          ^
./include/linux/hid.h:651:47:

[2018-06-05 12:44] mwyborski commented on #5
Hi @poisonnuke ,
this is due to changes in the kernel:
https://github.com/torvalds/linux/commit/a9ef00aec7633b3be3b19a7fce9a8d13f5a07c1c#diff-0fd4976957ef951b8b4cd61bc6d90199

To use the driver with the older kernel, you would have to make a diff to 4.17-rc7 for the three files in linux/drivers/hid and then patch your older kernel accordingly.

[2018-06-05 12:54] poisonnuke commented on #5
I see, 4.14.43 does not have a hid-quirks.c at all, so I could savely delete it?

[2018-06-05 14:12] mwyborski commented on #5
The content was in hid-core.c as far as i remember. But you can ignore this file. Actually you could check out the project and try the DKMS. It ignores hid-quirks.c as well and should compile.

Please give feedback, if it worked with the DKMS and on the RPI.

[2018-06-05 15:12] poisonnuke commented on #5
It is nearly impossible to backport the hid-magicmouse.c to 4.14. Tooo many errors in depending files like input.h, hid.h, input-event-codes.h and some more.

Is there any way, I could get the hid_hw_raw_request to work inside a usb_driver? Because I would like to stay with the bcm5974

[2018-06-05 15:51] mwyborski commented on #5
Why dont you try then the modified bcm5974 ?

https://github.com/robotrovsky/linux/blob/master/drivers/input/mouse/bcm5974.c
https://github.com/robotrovsky/linux/blob/master/drivers/hid/hid-apple.c
https://github.com/robotrovsky/linux/blob/master/drivers/hid/hid-core.c
https://github.com/robotrovsky/linux/blob/master/drivers/hid/hid-ids.h

[2018-06-05 16:10] poisonnuke commented on #5
as my question indicates, the bcm5974 is a usb-driver, the hid-magictrackpad is a hid-driver and I need the hid_hw_raw_request from the hid-trackpad driver (for the haptic feedback) but cant find any way myself to get it work (hid_device = usb_get_intfdata(iface) produces a segfault))

any suggestions on this?

[2018-06-05 18:16] mwyborski commented on #5
The Request ID's are different between USB and bluetooth. To do a hid_hw_raw_request look in the bcm5974 how usb_control_msg is used:

	data = kmalloc(c->um_size, GFP_KERNEL);
	if (!data) {
		dev_err(&dev->intf->dev, "out of memory\n");
		retval = -ENOMEM;
		goto out;
	}

	/* read configuration */
	size = usb_control_msg(dev->udev, usb_rcvctrlpipe(dev->udev, 0),
			BCM5974_WELLSPRING_MODE_READ_REQ

[2018-06-06 09:01] poisonnuke commented on #5
I guess I need some differnt IDs for that.
tried that:
`size = usb_control_msg(dev->udev, usb_sndctrlpipe(dev->udev, 0),
		BCM5974_WELLSPRING_MODE_WRITE_REQUEST_ID,
		USB_DIR_OUT | USB_TYPE_CLASS | USB_RECIP_INTERFACE,
		cfg->um_req_val, cfg->um_req_idx, enableHostClick, sizeof(enableHostClick), 5000);`

but no error but trackpad-click is still on. How could I find the appropriate IDs? Looks like

[2018-06-06 10:11] mwyborski commented on #5
[recorded_data.zip](https://github.com/robotrovsky/Linux-Magic-Trackpad-2-Driver/files/2075667/recorded_data.zip)
In this file you will find sniffed data for different actions. It is recorded using the MT2 with OSX using a Beagle 480. The data-center software to view the sniffs can be downloaded for free from the totalphase website. Maybe this helps you.

[2018-06-06 12:45] poisonnuke commented on #5
thank you this is indeed very good, but at this point Im sort of too n00b to understand what is happening. The requests are totally different for the same action and I have no clue what is the requestID and so on. I think Im out, I do not have the ressources at the moment to fully grasp the usb-protocol from scratch. sry

[2018-06-06 12:54] mwyborski commented on #5
@poisonnuke , yes it is difficult and time-consuming to find out the different switches. Anyways good luck with your project.

[2018-06-06 12:54] #5 closed

[2018-06-07 04:31] chenliushan commented on #1
Appreciate your work. I have upgraded my Ubuntu to 18.04, and installed this driver through `dkms`. However, the I still only get the single finger movement and taps from the trackpad too. Also, I have tried to copy the `hid-magicmouse.ko` from update/ to kernel/driver/hid and reboot, but still nothing change.
Did I miss anything? Or any suggestions?

[2018-06-07 07:10] mwyborski commented on #1
@chenliushan please try to load the compiled module with insmod first, then we will look why it fails:

1. Go to the linux/drivers/hid folder and "make" the module
2. "sudo rmmod hid_magicmouse" to unload the module, if the original hid-magicmouse module was loaded
3. "sudo insmod ./hid-magicmouse.ko"
4. With "dmesg" you should see if the driver gets loaded when you connect the Magic Trackpad 2

P

[2018-06-07 10:38] chenliushan commented on #1
Thanks for your reply.
With the compiled module I still only get the single finger feature. However, I found some errors and exceptions in the "dmesg" which is attached as follows (not sure whether it is related) :
[code]

[2018-06-08 10:07] mwyborski commented on #1
@chenliushan please make sure that the correct hid-magicmouse driver gets loaded and try the following steps:

    cd linux/drivers/hid
    make
    sudo rmmod hid_magicmouse
    sudo insmod ./hid-magicmouse.ko
    tail -f ~/.local/share/xorg/Xorg.0.log
Now unplug the trackpad and plug it back in, to see which driver gets loaded.

[2018-06-08 12:13] LeoUfimtsev opened #6 "Can't get it to work on Fedora?"
Hello,

I'm running Fedora 28 and I can't get it to work. (I have not tried earlier fedora versions).

I.e,
0) I build via makefile
1) I installed via ./install script.
2) after reboot, right click/scrolling doesn't work.
3) Following troubleshooting I get errors:
[08:05:44 hid]$ sudo rmmod hid_magicmouse
rmmod: ERROR: Module hid_magicmouse is builtin.
[08:05:58 hid]$ sudo insmod ./hid-magicmouse.

[2018-06-08 12:20] mwyborski commented on #6
@LeoUfimtsev someone in another discussion tested it with fedora and said:

If you don't want to recompile the whole kernel, you could try to rename the module and load it with this new name. I think that might work.

[2018-06-08 12:35] LeoUfimtsev commented on #6
6 minute response time is impressive.

How do I rename the  module name?

Do I edit this guy:
Linux-Magic-Trackpad-2-Driver/linux/drivers/hid/dkms.conf

And change this to something like 'hid-magicmouse-custom' ?:
BUILT_MODULE_NAME[0]=hid-magicmouse

And then run the remove and then the install script again & reboot?

(do let me know if you know any articles that would be useful to read to better

[2018-06-08 12:52] mwyborski commented on #6
@LeoUfimtsev the easiest way would be to go to linux/drivers/hid modify hid-magicmouse.c in line 696
and replace
`.name = "magicmouse",`
with
`.name = "magicmouse-custom",`

Then rename the whole file from hid-magicmouse.c to hid-magicmouse-custom.c.
And rename the two occurrences of "hid-magicmouse.o" to "hid-magicmouse-custom.o" in the makefile.
Then:
[code]

Now unplug the trackpad and plug it

[2018-06-08 14:20] #6 closed

[2018-06-08 15:38] LeoUfimtsev commented on #6
This worked, thanks for the instructions!

I'd be nice to get this into fedora somehow. I'll submit separate ticket.

[2018-06-08 15:41] LeoUfimtsev opened #7 "how to get driver into Fedora?"
Hello,

I got the trackpad to work on Fedora 28 (wirelessly & wired) with this driver by renaming it as per ticket #6 .

Considering I work as Software Engineer at Red Hat, I was wondering if we can somehow get this driver into upstream kernel and/or fedora. Perhaps I could nudge our guys to include this driver?

Have you looked into this, do you have any suggestions? Should I submit a fedora kern

[2018-06-08 17:03] mwyborski commented on #7
@LeoUfimtsev i will have to clean up the code. Then i will send it to the linux-input mailinglist. But if you have someone at red hat or fedora, whom i could include when i send in the patch, it would be great to get some support. My schedule is to submit the patch until end of this month. I don't want to hurry, and maybe i will change some details before submitting.

It is great that you and othe

[2018-06-13 06:47] chenliushan commented on #1
Thanks @robotrovsky. This is what I got after running commands you have mentioned above:
[code]

[2018-06-16 08:50] poisonnuke commented on #5
ok Im back on this issue, but still trying to figure out, what is what.

Do I see it right, in data center, when you performed a config change (click on off for example), then a OUT group was created with data0 as the control message sent to the trackpad? If yes, is the "53" the bmRequest Type? Im wondering, because I cannot find the appropriate "lenght" field regarding to chapter 9 of the USB spe

[2018-06-18 06:46] mwyborski commented on #5
Hi @poisonnuke,
i recorded the data some time ago and dont remember very well. I think it might have been force touch on and off in the settings. But if you have a special use case, which you want to be sniffed, you can tell me what to do, and i will record the action.

[2018-06-18 08:54] poisonnuke commented on #5
I would like to take full control over the haptic feedback. Which means disable forcetouch in the first place (is this possible? tried this a few minutes ago with a mac pro of a colleague with no success) and then send haptic feedback impulse on my regard. If I could adjust the impulse-pattern and intensity, that would be quite nice too.

Ponyfleisch already achieved this for bluetooth, but as you

[2018-06-19 09:44] mwyborski commented on #1
@chenliushan have you been able to resolve this issue? Which distribution are you using?

[2018-06-22 12:23] poisonnuke commented on #5
hm, could you tell me for the existing data, if I am right or wrong about the "IN" and "OUT" groups? So should I look into an "OUT" group for anything sent to the magic trackpad?

If yes, why am I not able to determine the "lenght" field in the request? Should be byte 8, but thats a way to large number there in all OUT packets.

thank you in advance

[2018-06-22 17:19] mmulvahill commented on #1
@robotrovsky I'm having a similar problem with no input driver being loaded.  Pointer and left-click work, but no two-finger gestures.

I'm using Linux Mint 19 beta at the moment and experiencing similar results on pure Ubuntu 18.04.

After doing the rmmod/insmod routine, I sget this in my Xorg log:

[code]

[2018-06-25 17:38] MeanderingCode commented on #1
I am seeing the same thing on Ubuntu. No mtrack, using libinput. I have seen an error about failed verification sometimes, but not when I manually insmod.

[code]

Manual `insmod` does not show verification/signature errors, but logs still show `No input driver specified`

[2018-06-28 21:45] attila-lendvai opened #8 "failed to make it work on Debian 9.4; 4.16.0-0.bpo.2-amd64"
should it work at all on 4.16?

host:
`
Linux xxx 4.16.0-0.bpo.2-amd64 #1 SMP Debian 4.16.12-1~bpo9+1 (2018-06-03) x86_64 GNU/Linux
`

[code]

device: https://en.wikipedia.org/wiki/Magic_Trackpad (bluetooth)

i tried both DKMS, and then removed it and used the `insmod ./` method to be sure.

symptom: pointer doesn't work, and `xinput` only returns `mouse 1` events when any (!) of the physical butt

[2018-07-03 16:05] MeanderingCode opened #9 "Driver not loading for bluetooth connection (Ubuntu 18.04)"
The driver is not loaded when connecting the Magic Trackpad 2 via bluetooth in Ubuntu 18.04.

[code]

I can unbind from `hid-generic` and bind to `magicmouse` like so:
[code]
[code]

And the device works as expected with basic multitouch functionality.

Is this a failure to match IDs from the `linux/drivers/hid/hid-ids.h` file? I don't have much experience with input drivers.

[2018-07-04 15:18] rpmonteiro opened #10 "Installation without DKMS"
Hi, I'm running the SOLUS distro, without access to DKMS.

How to install these drivers without it?

Thank you so much for the effort you've put on this so far!!

[2018-07-07 11:47] nmattia opened #11 "Can click but not move"
I've managed to compile and load the module, but upon Blueeoth connection I can only click through the trackpad, not move the cursor.

[code]

The module appears to be loaded:

[code]

This is what `/var/log/Xorg.0.log` shows when connecting the device:

[code]

I am a complete noob in kernel/driver world, but those lines look suspicious:

[code]

Could the cursor movements somehow go through `/de

[2018-07-09 03:36] chenliushan commented on #1
Sorry, @robotrovsky I have not solved this problem.
I am using Ubuntu to 18.04.

[2018-07-14 11:13] alanorth opened #12 "Build error on Linux 4.18-rc4"
Driver works great on Linux 4.17 (thanks!), but there's a build error on Linux 4.18-rc4. How is the work to upstream the changes to this driver going?

Here is DKMS install:

[code]

And here is the error log:

[code]

[2018-07-16 12:16] #10 closed

[2018-07-24 06:59] rohitpid opened #14 "I have to manually bind hid_magicmouse to the device. hid-generic steals it at boot."
I have to run
echo -n "0005:004C:0265.0004" > /sys/bus/hid/drivers/hid-generic/unbind
echo -n "0005:004C:0265.0004" > /sys/bus/hid/drivers/magicmouse/bind

to make this work. 0x265 is listed in the hid-ids.c so I do we need to blacklist it from hid-generic? Is this a race condition?

[2018-07-24 07:04] mwyborski commented on #12
Thanks for reporting. I will look at this, before submitting the patch.

[2018-07-24 08:24] rohitpid commented on #12
https://github.com/torvalds/linux/commit/f07b3c1da92db108662f99417a212fc1eddc44d1#diff-88d50bd989bbdf3bbd2f3c5dcd4edcb9

hid_register_report() has an additional parameter, application. hid_magicmouse in mainline just sets it to 0 for reference.

[2018-07-24 08:32] rohitpid commented on #12
from hid_magicmouse in mainline

	if (id->product == USB_DEVICE_ID_APPLE_MAGICMOUSE)
		report = hid_register_report(hdev, HID_INPUT_REPORT,
			MOUSE_REPORT_ID, 0);
	else { /* USB_DEVICE_ID_APPLE_MAGICTRACKPAD */
		report = hid_register_report(hdev, HID_INPUT_REPORT,
			TRACKPAD_REPORT_ID, 0);

[2018-07-24 08:40] alanorth commented on #14
Are both the `hid_generic` and `hid_magicmouse` modules loaded? I simply `rmmod hid_generic; modprobe hid_magicmouse` instead of doing the unbind/bind. I'm not sure why `hid_magicmouse` isn't loaded automatically though.

[2018-07-24 08:46] rohitpid commented on #14
I need hid_generic loaded for my keyboard and the magicmouse2 (which I would like to port over to use hid_magicmouse but it isn't currently supported).

[2018-07-24 08:54] rohitpid commented on #12
https://github.com/robotrovsky/Linux-Magic-Trackpad-2-Driver/pull/15 here is a PR with the changes. @alanorth can you test?

[2018-07-24 18:22] alanorth commented on #12
Working for me in Linux 4.18-rc6 on Arch Linux. Thanks @rohitpid!

[2018-07-24 18:22] #12 closed

[2018-07-24 21:09] rohitpid commented on #3
What tool did you use for to figure out the headers and length of finger report? I'd like to try to make the magicmouse2 work with this driver. Also, can we merge ponyfleish's force touch work back into this driver so that we can mainline all the features?

[2018-07-25 00:14] cam-carter opened #16 "Makefile failing"
Here's the output of `make.log`

I honestly have no idea what's going on.  This is happening with the dkms scripts when running `sudo ./install.sh` inside `./scripts`, as well as, just running `make` inside `./linux/drivers/hid`.  Any help would be appreciated.

[code]

[2018-07-25 02:20] adam-h commented on #16
@cam-carter You need to revert ecfde9fce81f189a25da5a3f62db68d8272d37fb as I mentioned [here](https://github.com/robotrovsky/Linux-Magic-Trackpad-2-Driver/commit/ecfde9fce81f189a25da5a3f62db68d8272d37fb#commitcomment-29823051) for 4.17 support. Then it'll work :)

[2018-07-25 04:31] lloyd-pinrun commented on #16
@adam-h everything's working great now!  Thanks a lot.  Work hooked me up with the trackpad, but I'm the only GNU/Linux user in the office.  Didn't want to feel left out haha

Will this work for older kernel versions as well, or just 4.17?  I was initially trying with 4.15.

[2018-07-25 04:58] rohitpid commented on #3
I managed to get magic mouse 2 to register with hid_magicmouse now. However, scrolling isn't working. How did you reverse engineer that part of the protocol?

[2018-07-25 09:06] mwyborski commented on #3
@rohitpid when i first started with the magictrackpad 2 i connected it to windows and used wireshark to sniff the USB communication to see how Trackpad++ switches to multi finger reporting, during development i compared the outcome with the trackpad of my macbook. Later i also used a Beagle USB to sniff the USB communication on Mac OSX. But there is also a apple tool to sniff the communication cal

[2018-07-25 09:06] adam-h commented on #16
I've not tried, I would guess not without modifications.

Glad that worked for you, it is a very nice Trackpad

On Wed, 25 Jul 2018, 12:31 Cam Carter, <notifications@github.com> wrote:

[2018-07-25 13:34] lloyd-pinrun commented on #16
I've got the install working with an older kernel version.  It just took the same revert.  Now I've installed xf86-input-mtrack and it's not playing nicely with the trackpad.

The followed is the output of `tail -f ~/.local/share/xorg/Xorg.0.log`:
[code]

[2018-07-27 07:27] rohitpid commented on #3
@robotrovsky I have basic working changes for magic mouse 2 now!

[2018-07-27 08:41] poisonnuke commented on #3
@rohitpid have you found something regarding the haptic feedback engine?

[2018-07-28 07:03] rohitpid commented on #3
@poisonnuke nope I haven't looked at it yet sorry.

[2018-07-30 20:48] rohitpid opened #19 "Mainlining code?"
Have you started the process to mainline this? I have code for the magic mouse 2 that I'd also like to mainline sometime. I'm still working on improving it but it'd be nice to know what kind of timeline you were thinking of. I could do that separately after yours to keep the patches smaller or would it be better to create a PR for this repo?

[2018-07-30 22:08] mwyborski commented on #19
Hi @rohitpid ,
i haven't send in the patch. Maybe it would be better to separate the two drivers, because i can't test the magic mouse 2, so i would send in a patch, that i can't even test. But i don't want to slow you down. We could make a branch for the magic mouse 2 or you fork and you keep on working on base of this driver. I don't know when i will find the time to review it and send it in, bu

[2018-07-31 02:09] gzm55 opened #20 "mtrack: cannot open device"
OS: Ubuntu 18.04
Kernel: 4.15

After install the driver and the mtrack config, my trackpad2 can't be loaded, with the error `Cannot open device /dev/input/event*   Permission denied.` I have tested usb and bt, the error log is the same.

Full log:
[code]

[2018-07-31 05:48] gzm55 commented on #11
the same problem on both bluetooth and usb connection.

[2018-07-31 05:53] gzm55 commented on #20
fixed by adding $USER into `input` group

[2018-07-31 05:53] #20 closed

[2018-07-31 07:47] rohitpid commented on #19
Hey @robotrovsky,

Thanks for the response and support! I do have a fork which has my changes and I rebase off of your changes periodically. I have mm1, mm2, trackpad1 and trackpad2 handy to test :-).

I figured out the bytes that are sent and received to get battery percentage reports from the mouse. Do you know how we should set this? Magic Mouse 1 and Magic Trackpad 1 report the battery percent

[2018-08-01 01:35] rohitpid commented on #19
So using a packet logger on mac, it seems that magic mouse 2 and magic trackpad 2 send bytes [41 f0] to the mouse and then receive [a1 f0 90 00 62] responses. The 62 at the end directly reports the 98% charge value of my mouse (0x62 hex = 98 dec). Looks like the way to report this out is through power_supply and power_supply_desc objects but if anyone has an example of how to do this, I'd apprecia

[2018-08-02 19:50] satur9nine commented on #14
I have the same problem on linux kernel 4.13 (i ported this driver and loaded it via dkms), hid-generic is chosen as the driver but I can fix it with the above mentioned bind/unbind commands. I haven't figured why, it seems that linux should be finding and preferring this driver via MODULE_DEVICE_TABLE and/or id_table in hid-magicmouse.c but it's not working?

[2018-08-02 20:39] rohitpid commented on #14
@satur9nine I haven't been having this issue on 4.18 since updating. Try it out with 4.18 if you can. If it persists on newer kernels, I'll try to debug further and find a solution.

[2018-08-03 00:08] satur9nine commented on #14
I see now that kernel 4.13 would require a more complex solution because there is a list of devices in hid-core.c which controls which driver gets used.

[2018-08-03 20:57] gitowiec opened #21 "Does it support Magic Trackpad 1?"
Hi,
Does it?
Its still the very good device, and thanks to its age one could get it for a low price.

[2018-08-09 22:08] neilbilly opened #22 "AUR package"
Hi there,

Is anyone looking at doing an AUR package for this?

[2018-08-20 11:29] poisonnuke commented on #3
@robotrovsky where you able to create a new usb-trace recently? because I have no MacOSX where Wireshark works and no Beagle too. And as mentioned, I cant find any valid USB-Request in your last trace :(

[2018-08-21 19:46] bobbysue commented on #19
If you are interested, I could prepare a patch to submit for mainline review.  I would need to know who to include for "signed-off-by" lines.

[2018-08-24 10:19] alanorth opened #23 "Issues with click and drag"
This is a bit hard to explain, but I am having issues with physical click and drag using one finger. This causes problems with, for example, selecting files in the file manager, moving windows, selecting text on a webpage, etc. holding with thumb and dragging, as well as double tap and drag work fine. I'm using the latest version of the driver on Linux 4.18.

Here is a video demonstrating the prob

[2018-08-25 10:12] mwyborski commented on #19
Hi @bobbysue,
exucse the late answer. I am on vacation right now. I should have submitted the patch time ago. So if you would like to do this, i would appreciate it. Please make sure, that you check the patch with checkpatch.pl and that we are not changing the behaviour of the original driver for the MM and MT1. Please include @ponyfleisch and me in the signed-off-by and CC us, when you send in th

[2018-08-25 10:31] mwyborski commented on #23
@alanorth Thanks for reporting back! To be honest i haven't had the time to test the patch in Linux 4.18. But maybe this is a configuration issue, when i get back to my trackpad in 2 weeks after vacation i will test it. But i think i would have noticed this. Which Desktop and driver backend (xf86-mtrack or xf86-libinput) are you using? Maybe there is someone who in the meantime could check this...

[2018-08-25 10:39] mwyborski commented on #19
@bobbysue maybe you have the time to look into these two issues, which seem to have the same problem, before you submit the patch:

https://github.com/robotrovsky/Linux-Magic-Trackpad-2-Driver/issues/11
https://github.com/robotrovsky/Linux-Magic-Trackpad-2-Driver/issues/23

[2018-08-25 14:54] rohitpid commented on #19
@robotrovsky @bobbysue I have magic mouse 2 code that I want to submit too. Would you like me to submit it all together so that we get functionality for both?

[2018-08-25 16:43] bobbysue commented on #23
I haven't been able to reproduce the bug.  I've also been testing on kernel v4.18, but using chromiumOS (so no xf86).

[2018-08-25 16:51] bobbysue commented on #19
@robotrovsky I haven't been able to reproduce the bugs.  I've also been testing on kernel v4.18, but using chromiumOS (so no xf86)

@rohitpid I think it makes sense to submit the changes separately to reduce the complexity of each patch.

[2018-08-25 20:07] alanorth commented on #23
@robotrovsky you're right, I forgot to give those critical details! This behavior happens for me on Xorg and Wayland, using libinput driver on both. Current versions on Arch Linux:

- libinput 1.11.3-1
- xf86-input-libinput 0.28.0-1
- xorg-server 1.20.1-1
- wayland 1.16.0-1

[2018-08-27 03:57] adam-h commented on #23
I've not tried libinput recently, but xf86-input-mtrack is working fine for click and drag on Arch.

[2018-08-27 10:33] alanorth commented on #23
I'm trying to keep my setup in Wayland so I can't test `xf86-input-mtrack`. I have no other issues with this driver, and my workaround is either to double tap and then select/drag, or use my thumb and select/drag. Would you like me to close this issue, @robotrovsky?

[2018-08-30 10:51] chenliushan commented on #1
My problem solved by upgrading the Ubuntu kernel to 4.18.5-041805-generic.
(Although I have updated the Ubuntu to 18.04 earlier, somehow it still uses the old version kernel 4.15.)
So after I upgrade my kernel, this driver works.

[2018-09-02 15:54] mwyborski commented on #21
@gitowiec MT1 support was already supported by the original magic-mouse driver

[2018-09-02 15:54] #21 closed

[2018-09-02 17:02] mwyborski commented on #3
@poisonnuke i am sorry, but i have no other usb-trace

[2018-09-05 03:55] 4Z4T4R commented on #11
Same problem here. But if I push /just/ hard enough, the mouse starts to twitch a little bit and even move from moment to moment. Weird.

$ lsb_release -a
No LSB modules are available.
Distributor ID: Ubuntu
Description:    Ubuntu 18.04.1 LTS
Release:        18.04
Codename:       bionic
$ uname -r
4.18.5-041805-generic

[2018-09-05 07:42] igor-kupczynski commented on #9
I wonder if this is because of a kernel version. Ubuntu 18.04 has 4.15, but they seem to require 4.18 based on the readme.

[2018-09-05 09:20] StrangeNoises commented on #9
FWIW it's working on this Ubuntu 18.04... with the Mainline 4.18 kernel. Though I must say I didn't attempt it before upgrading the kernel because of that readme. ;-)

[2018-09-21 17:20] yiding commented on #23
I also ran into this issue. I think it's something to do with https://github.com/robotrovsky/Linux-Magic-Trackpad-2-Driver/commit/8d93f27b96b19373c70e93af8d39ab58aec7ecd5. Back when I was on kernel 4.17 I just used the rev previous to this one to avoid the issue.

I'm on fedora 28, happens with both wayland and x11.
xorg-x11-libinput 0.27.1.2
xorg-x11-server-Xorg 1.18.6-8
libinput 1.11.3-1
kernel

[2018-10-01 00:41] regis-leray commented on #9
yeah i succeed to make it work with ubuntu 18.04 and upgrade the kernel `4.18.10`

[2018-10-01 00:47] regis-leray commented on #14
im facing the same issue
with ubuntu `18.04` with kernel `4.18.10`
i declared `hid_magicmouse`

[code]

at the startup i can see the module loaded
[code]

and this what i do to fixit
[code]

[2018-10-02 16:19] regis-leray commented on #9
did someone succeed to make it work with bluetooth ? i was only able to make it work with USB.
i cannot see the device with `bluetoothctl`

my bluetooth module works since im able to pair with my phone and  apple magic keyboard 2

`ubuntu 18.04`
`kernel 4.18.10`

[code]

[2018-10-02 16:22] StrangeNoises commented on #9
it worked with bluetooth for me, without me having to try, but remember it does require Bluetooth 4.0, so if the machine you're trying it on doesn't have that, it probably won't.

[2018-10-02 16:23] regis-leray commented on #9
@StrangeNoises what kind of information should i look for ?

[2018-10-02 16:45] StrangeNoises commented on #9
I'm afraid I don't know. I belatedly just noticed your lsusb output showing that yours already is a Bluetooth 4.0 interface, so I'm out of ideas (unless, eg: you have two bluetooth interfaces and they're fighting?) It just worked for me so I didn't have to go crawling through the logs.

... and now I've sold the magic trackpad 2 anyway, for Reasons, so I can't try again.

FWIW:

When I used the tr

[2018-10-02 18:27] regis-leray commented on #9
i was dealing with this issue also
https://github.com/robotrovsky/Linux-Magic-Trackpad-2-Driver/issues/14
i endup by creating  `/etc/rc.local` script which reload the driver

[code]

[2018-10-05 16:55] mwyborski commented on #19
@bobbysue Thank you for mainlining!!! That was great!

I close this now and update the readme.

[2018-10-05 18:32] mwyborski commented on #19
@bobbysue dont take all the credit for google:
https://www.phoronix.com/scan.php?page=news_item&px=Linux-Apple-Magic-Trackpad-2

[2018-10-05 18:44] bobbysue commented on #19
Thank you!  I hadn't seen that article- it looks like they have issued an update giving you and Claudio credit, though the main text still seems off...  AFAIK nobody else involved, including the kernel maintainers who gave comments, work for Google/ChromeOS...

FYI: There will probably need to be adjustments to userspace programs for the low pressure levels from the trackpad.  We had an offset to

[2018-10-05 18:57] mwyborski commented on #19
@bobbysue no problem. It was just funny to read "Thanks Google: Linux Kernel Finally Nearing Support For The Apple Magic Trackpad 2" and then seeing that they actually talk about this driver. What actually would be really nice, would not be google working on the driver but apple releasing the spec to do the driver the right way. But i doubt this will happen.

The problem is that the pressures are

[2018-10-05 18:57] #19 closed

[2018-10-05 19:25] Dygear commented on #19
If they gave the spec out it would also be giving away the magic. Also thank you for your work on this. My trackpad is now useable with Ubuntu! Your a super star!

—
Thank you for your time,
Mark “Dygear” Tomlin.

[2018-10-07 14:21] alwzying opened #24 "Will it work on kernel 4.18.12?"
and in which version has it been merged into kernel

[2018-10-08 03:19] adam-h commented on #24
Working on 4.18.12 (Arch) for me. From what I read it might make it into 4.20 proper

[2018-10-10 18:51] regis-leray commented on #9
oki i finally found the problem, on the magic trackpad i didnt switch on/off the trackpad. ( i didnt see the small switch on the trackpad)
I also install the latest kernel driver `4.18.13`

[2018-10-13 09:39] laagland commented on #11
I'm having the same problem. It seems the sensitivity is way too low. I've tested with xinput and only when pressed hard enough I get motion detection. But the pressure borders on performing a click, so not very useful.

@robotrovsky Is there a way to adjust the sensitivity with these drivers?

Using Ubuntu 18.04.1 LTS with kernel 4.18.0-041800-generic

[2018-10-13 13:10] x-ji opened #25 "Have to manually run sudo insmod ./hid-magicmouse.ko after each restart"
Sorry if this question is noobish. I'm not familiar with dkms. I ran the `install.sh` script, and it seems that `dkms` does install a module called `4.18+magictrackpad2`. However, after each restart I can only perform single click with no other actions available.

If I run `sudo rmmod hid_magicmouse`, apparently the module is not currently loaded. After I run `sudo insmod ./hid-magicmouse.ko`, the

[2018-10-14 06:09] scottnuma commented on #25
Can you post the result of `tail -f ~/.local/share/xorg/Xorg.0.log`? Both before and after you run `sudo insmod ./hid-magicmouse.ko`

[2018-10-14 09:34] x-ji commented on #25
I tried to follow the debug guide before but couldn't find the log file. After a bit digging I found the file at `/var/log/Xorg.0.log`.

Before executing the command:

[code]

After:

[code]

So it seems that the driver wasn't installed correctly after all and the device wasn't recognized at first? But when I try `sudo dkms install hid-magicmouse-dkms/4.18+magictrackpad2` I get:
"Module hid-magicm

[2018-10-14 18:55] alanorth commented on #25
Since you're on Manjaro (aka Arch) I'm guessing you're having problems because your distro's kernel already has a `hid-magicmouse` module that gets loaded when you do `modprobe`. My Arch has:

[code]

The `hid-magicmouse.ko.xz` comes from the distro kernel, and the `hid-magicmouse.ko` comes from DKMS. Try manually insmodding the `hid-magicmouse.ko` module. Personally, I always remove the one from

[2018-10-15 17:01] x-ji commented on #25
@alanorth Thanks. This seems to indeed be the reason. After manually deleting the `.ko.xz` file that was originally present in the system, and reinstalling the driver, it seems to work immediately from a fresh boot. I was also encountering system freezes related to the driver. Hopefully this will solve that problem as well. Otherwise it might be an unrelated issue.

[2018-10-15 17:01] #25 closed

[2018-10-17 12:15] sydneymeyer commented on #24
@adam-h Did you notice any issues, i.e. lag, unresponsiveness, with Linux 4.18.14 from Arch?

[2018-10-18 04:24] adam-h commented on #24
Nope, still looking good via USB and BT

[2018-10-19 21:55] sydneymeyer commented on #24
@adam-h Thanks. I tried connecting via usb today and the trackpad indeed appears to be working as before again, the described issues via bluetooth are yet still present. I will play around with it this weekend and will report back here, if i find something.

[2018-10-22 19:04] sydneymeyer commented on #24
Updated to Linux 4.18.16 on Arch Linux: the functionality is all there, if connected via bluetooth, but i have to press my finger quite harder onto the touchpad to move the cursor, compared to when connected via usb. Same as 4.18.14. Tried re-pairing the trackpad, rebuilding/reloading the module, manually adding the module, etc., but it appears only downgrading to 4.18.12 restores the functionalit

[2018-10-26 14:39] alanorth commented on #24
@sydneymeyer I just tried via Bluetooth for the first time in a few weeks and notice that I also have to press harder for normal touch operations like two-finger scrolling. Kernel 4.18.16 on Arch Linux as well.

[2018-10-30 16:27] mwyborski commented on #11
Sorry for the late answer. There have been offsets removed, which have been a quirk around the not interpretable pressures. This has to be handled in userspace and i think as well, that it would be better.

Benjamin Tissoires on the mailing list:

[2018-10-31 08:34] idomitori commented on #24
@sydneymeyer @alanorth I got the same issue on latest Arch kernel via bluetooth. I need to press almost to a click to perform any action. My setup is:
[code]

What i supposed the pressure is a key. Looks like via bluetooth connection the pressure threshold are activated. Because `libinput record` register all of the touches and `libinput measure touchpad-pressure` shows that the threshold is kinda

[2018-10-31 08:47] mwyborski commented on #24
This is right. The offsets for the pressures have been removed from the kernel-module and need now to be handled in userspace.

https://lkml.org/lkml/2018/10/3/145

Peter Hutterer:

[2018-10-31 13:58] arenddeboer commented on #24
For ubuntu users, the quirks file is located in /usr/share/libinput/<filename>.quirks

[2018-11-03 12:19] alanorth commented on #24
@idomitori you're right, those quirks work well for me on Arch Linux kernel 4.18.16 while using the trackpad over Bluetooth. Thanks!

[2018-11-13 20:03] rburcham opened #26 "4.18.12: gen-1 magicmouse acts only as 2-button mouse"
I've documented details of my observations here:  https://forums.gentoo.org/viewtopic-t-1089352.html

In essence I cannot get the gen-1 magicmouse to middle click or v-scroll or h-scroll.

The hid_magicmouse module discovers and drives the device according to dmesg.  Running xinput with list, list-props and set-props all act as you would expect, but the device never behaves differently, that is en

[2018-11-14 08:20] mwyborski commented on #26
@rburcham , sorry to hear, that this somehow broke your working device. How did you install the new driver? Can you give me a link to the package? The kernel 4.18 does not come with this driver (neither 4.19, but 4.20), so either you have it installed manually, or this is not a driver related issue. And how did you connect? Via bluetooth or USB? Do you have the same effect, independent of the inte

[2018-11-14 17:25] rburcham commented on #26
Thanks for the reply @robotrovsky.  I am on gentoo, running a gentoo curated kernel 4.18.12 from the gentoo-sources package in portage.  I agree the new version of the driver likely is not in there:

`$ grep TRACKPAD2_USB_REPORT_ID drivers/hid/hid-magicmouse.c`

Further, hid_magicmouse is reporting the params:

[code]

As you say, I have to think I'm looking at the impact of some kind of change in

[2018-11-14 17:31] mwyborski commented on #26
You are welcome @rburcham. I think as well, that this is a libinput and no driver issue, so i will close this issue. Good luck ;-)

[2018-11-14 17:31] #26 closed

[2018-11-18 21:26] srid opened #27 "NixOS / kernel 4.19 -- none of the gestures work"
I run NixOS 18.09 with kernel 4.19.

I can connect the trackpad over bluetooth and can "basically" use it (navigate and click), but none of the gestures including basic two-finger scroll or double tap work. What could have I done wrong?

Kernel module is loaded:
[code]

Here's the relevant NixOS config:
[code]

[2018-11-18 21:37] srid commented on #27
From dmesg I gathered that it is using `hid-generic` for some reason, but trying to workaround in vain ...

[code]

[2018-11-20 21:49] andportnoy opened #28 "Any support for silent clicking?"
Apologies if this has been addressed somewhere else.

[2018-11-21 09:30] mwyborski commented on #28
@andportnoy the driver only supports basic functionality. Neither Force-Touch nor configuration of click-strength is configurable right now. Maybe i (or someone else) will have a look at it in the future when 4.20 which includes the driver is released, but right now i am not working on the driver. You could use tap-to-click in the meantime.

[2018-11-21 16:20] andportnoy commented on #28
@robotrovsky Thank you for the clarification and thank you for the terrific work! I've been using the touchpad for a couple of days now and it's working great.

[2018-11-21 16:23] mwyborski commented on #28
@andportnoy you are welcome. Glad to hear that people are using their trackpad.

[2018-11-21 16:31] andportnoy commented on #28
@robotrovsky Just wondering, how did you figure out how to build the driver and what the trackpad is sending? Was it through some kind of packet interception?

[2018-11-21 16:38] mwyborski commented on #28
Yes, i started when i saw, that the Trackpad is working under Windows. So i used Wireshark to sniff the USB protocol. Once i figured out how to enable 10 Finger reporting i switched to Linux and compared the outcome of the driver with the Trackpad of my MacBook Touchpad. This was also why i first implemented it in the bcm5974 (touchpad driver). Afterwards i ported it over to the magicmouse driver

[2018-11-21 16:39] mwyborski commented on #28
I think @ponyfleisch also has some code to configure the strength of the click. Have a look at it here:
https://github.com/ponyfleisch/hid-magictrackpad2

[2018-11-25 11:46] stefano099 opened #29 "Can't get it to work on Ubuntu 18:04 insmod: ERROR: could not insert module ./hid-magicmouse.ko: Invalid module format"
Hi i'm a noob, i have Ubuntu 18.04 with Kernel 4.18.6-041806-generic

`gjung@gjung-Lenovo-G570:/Linux-Magic-Trackpad-2-Driver/scripts$ sudo ./install.sh
+ dkms_name=hid-magicmouse-dkms
+ dkms_version=4.18+magictrackpad2
+++ dirname ./install.sh
++ cd .
++ pwd
+ DIR=/home/gjung/Linux-Magic-Trackpad-2-Driver/scripts
+ dkms status -m hid-magicmouse-dkms -v 4.18+magictrackpad2
+ egrep '(added|built|in

[2018-11-28 08:48] alanorth commented on #23
Can not reproduce on Linux 4.19.x or 4.20-rc4 anymore.

[2018-11-28 08:48] #23 closed

[2018-11-30 02:30] rburcham commented on #26
Sorry to bump this item @robotrovsky , but could you help me interpret this dmesg output when the hid_magicmouse discovers and drives the device:

[code]

Specifically what does the "unknown main item tag" mean?  And is the input,hidraw4 correct for a gen-1 magic mouse?

Is anyone able to actually drive their gen-1 magicmouse properly these days?  It really seems like there are a lot of folks maki

[2018-11-30 09:27] mwyborski commented on #26
@rburcham i am sorry, but i cannot help you with your questions. I think the best might be, if you ask your questions on the linux-input mailinglist: linux-input@vger.kernel.org

[2018-12-02 14:41] stefano0991 commented on #29
Hi after e fresh Ubuntu 18.04 installing it works!

[2018-12-02 14:41] #29 closed

[2018-12-06 16:39] anbroid commented on #27
@srid The first kernel that will have builtin support for this is 4.20, looks like.
http://lists-archives.com/linux-kernel/29261025-hid-for-4-20.html
https://github.com/torvalds/linux/commit/9d7b18668956c411a422d04c712994c5fdb23a4b

[2018-12-08 19:49] warptozero opened #30 "Not able to turn off acceleration"
After installing the driver everything seems to work ok, except that acceleration is forced on. `libinput list-devices` gives `Accel profiles: none` instead of `Accel profiles: flat *adaptive`. So I'm unable to set it to flat.

[2018-12-12 13:07] warptozero commented on #30
Considering this patch has been merged into mainline, is this still the right place to report bugs?

[2018-12-15 20:01] mwyborski commented on #27
@srid @anbroid is right, the driver doesn't come with 4.19. It will be included in 4.20.

[2018-12-15 20:01] #27 closed

[2018-12-15 20:13] mwyborski commented on #30
@warptozero during merging to mainline we had to remove some offsets. The driver will need a libinput quirks file. As soon as 4.20 is released i will have a look at it. Anyways i had no problem setting or turning off the acceleration, neither with mtrack nor with libinput. Which distro are you using?

[2018-12-17 12:20] warptozero commented on #30
I'm using Arch Linux and I've compiled linux-mainline 4.20rc6 (and rc7) from the AUR. But had the same behavior with 4.19.x and both the module compiled manually and dkms.

Another problem I'm having is that upon resizing windows with the mouse (by holding down a keyboard button) the cursor jumps to the top left corner of the screen. ~~Now this is usually caused by palm detection, however I'm unab

[2018-12-17 14:14] warptozero commented on #30
Well I've narrowed down the jumping cursor problem to setting the Coordinate Transformation Matrix with xinput:
[code]
Using `-1 0 0 0 -1 0 0 0 1` also leads to the same behavior. The reason I'm doing this is that I like to use the trackpad upside down because I find it a lot more ergonomic (the default orientation gives me wrist pain). So far I haven't found an other way to switch orientation.

W

[2018-12-17 15:01] warptozero commented on #30
If it's any help, here's the output of `xinput list-props`:
[code]
No manual xinput changes.

And the only xorg.conf.d file that's active for pointers:
[code]
 If you like I can also paste the input parts of the Xorg.log.

The following quirks file is active (/etc/libinput/local-overrides.quirks):
[code]
`AttrTouchSizeRange=2:1` and `AttrPressureRange=1:0` are needed to make touch pressure normal.

[2018-12-18 10:26] alanorth commented on #30
@warptozero are you talking about the "touch jump" error where the cursor gets stuck for a few seconds? I get that a few times a day and the following messages are printed in the system journal:

[code]

I usually just wait it out calmly, or turn the touchpad off and back on again. I'm on Arch Linux with kernel 4.19.x with Xorg.

[2018-12-18 13:58] warptozero commented on #30
@alanorth I haven't experienced a stuck cursor since I switched to 4.20, so maybe that could be because of manually compiling or dkms? I also experienced a once every few hours kernel lockup that disappeared with the switch.

To recap everything:

- Can't change acceleration profile
- Cursor jumps to top left corner of screen when Coordinate Transformation Matrix is changed from default (might be

[2018-12-24 13:37] badaz commented on #11
@robotrovsky Hi, I'm having this sensitivity problem too when connected over bluetooth, I thought it would be fixed with the release of linux kernel 4.20 today and integration of the driver to the kernel (I uninstalled your driver before installing the new kernel) but the pb is still there and I'm not sure I understand the answer you provided :

Is there an easy way for the end user to adjust pres

[2018-12-24 14:25] badaz commented on #11
Ok, I think I got it! I finally understood what you meant, and I followed this thread to adjust pressure sensitivity of my device on ubuntu 18 + kernel 4.20, now it is working as intended : https://wayland.freedesktop.org/libinput/doc/1.11.3/touchpad_pressure.html

[2018-12-24 15:46] mwyborski commented on #11
@badaz glad that you sorted it out so quick. I installed 4.20 today but my ordinary touchpad stopped working. In 2 weeks I have access to the MT2 and I will try it again. I want to add a working libinput quirks file to the repo.

[2018-12-24 16:30] badaz commented on #11
That would be nice!

[2019-01-02 18:57] andportnoy commented on #28
@robotrovsky Thank you!

[2019-01-04 04:44] Dygear opened #31 "Raspberry Pi Kernel 4.19"
@robotrovsky Thank you massively for your work on this.

Currently, the Raspberry Pi Foundation is looking at an upgrade of their mainline kernel to 4.19, [discussion here](https://www.raspberrypi.org/forums/viewtopic.php?f=29&t=224931&p=1411649#p1411649). Being that your patch landed in 4.20, is there any instructions that you could provide to getting this code working from within the Raspberry P

[2019-01-05 04:00] dos1 commented on #28
Thanks to all the hints by @ponyfleisch and @robotrovsky and a little help from packet sniffer, I've figured it out! (at least for Bluetooth, no idea if it applies to USB as well yet)

The click strength can be configured without switching the device out of autonomous clicking mode (using `hid_hw_raw_request`) by using following message:

[code]

Index 1 determines which feedback event you want to

[2019-01-05 17:38] dos1 commented on #28
I've just checked it on USB and the messages are the same (minus the first 0xF2 byte), only aren't sent as HID requests, but directly through URB_CONTROL.

[2019-01-05 19:50] dos1 commented on #28
If someone wants to play with it, I have put my code at https://github.com/dos1/Linux-Magic-Trackpad-2-Driver for now :)

[2019-01-07 08:21] mwyborski commented on #31
@Dygear thank you!
I think you can just check out commit 63187c13bb198609689460bbd1a99a4f622b5d83
This is the last commit before the pressure tweaks for the mainline release have been removed. Just check it out and go to ./linux/drivers/hid and do a make. I haven't tried it with 4.19, but if it doesn't compile i would help you. You can also check out the current official release, but then you woul

[2019-01-07 08:57] mwyborski commented on #31
I also added info about the necessary quirks file for the current release to the README, so you could try it as well with the current release and add the libinput quirks file

[2019-01-12 13:07] tasos14 opened #32 "Needs too much pressure (Ubuntu 18.04)"
I'm on Ubuntu 18.04 with 4.20 kernel, on wireless mode scrolling needs a lot of pressure. When connected it works fine.
I have added the quirks file to `/usr/share/libinput/.quirks` as suggested by this comment https://github.com/robotrovsky/Linux-Magic-Trackpad-2-Driver/issues/24#issuecomment-434697180
But the problem still persists.

[2019-01-12 14:55] dos1 commented on #32
Use `libinput quirks list /dev/input/eventX` to verify whether the quirks file is really applied.

For the reference, this is my `/etc/libinput/local-overrides.quirks` that works for me in both modes:
[code]

[2019-01-12 19:23] tasos14 commented on #32
I tried to run `libinput quirks list /dev/input/eventX` but i got an error saying that quirks is not a libinput command, so I checked to see which version I have.
The installed libinput version is 1.10.4 and the latest is 1.12.3. I think that might be the reason that it can not detect the local-overrides.quirks.

I didn't find a way to update to the latest version, is my only option to build from

[2019-01-12 23:19] dos1 commented on #32
You may also try `libinput list-quirks`, I think that command got renamed recently.

[2019-01-13 13:23] tasos14 commented on #32
I fixed it. I built from source following these instructions [https://wayland.freedesktop.org/libinput/doc/latest/building.html#building](url)
now I have the latest version and wireless works fine with the quirks file.

[2019-01-20 20:47] dos1 commented on #3
@poisonnuke Have you seen #28?

[2019-01-28 23:03] romanAbrahamovic opened #33 "Magic Mouse 2 - Scroll not working"
I finish instalation by instructions in readme file.

I still cannot scroll on my MM2. Is there a something which I missing?

[code]

[code]

[code]

If I used kernel v.4.20 or 4.15 still had a same problem with scroll. Thank you for advice.

[2019-02-08 08:23] schmunk42 opened #34 "How to get the battery state?"
My problem is that I currently need to have my touchpad almost always connected via USB to have it working. I suppose this is due a low battery state, but I am not sure since I can't see the loading percentage at the moment.

I found only https://github.com/robotrovsky/Linux-Magic-Trackpad-2-Driver/issues/19 when looking for "battery", do you have any advice how to get the actual battery level?

[2019-02-21 12:45] schmunk42 opened #35 "How to disable USB and only use Bluetooth?"
I noticed that since I have connected my TrackPad via USB mainly due to loading it (#34) it also uses USB as the "main control channel". Since then I am experiencing kernel panics from time to time - I don't know if this is directly related, but I'd like to know if there's a way to disable the USB control connection and **only** load via USB?

[2019-02-21 14:17] mwyborski commented on #35
Hi! I dont know of a good way to achieve this. I think as soon as the Trackpad finds a USB-connection it will switch off Bluetooth. But honestly i dont believe the kernel panics come from the Trackpad. Do you use 4.20? And which Distribution? I had problems with 4.20 and a freezing system as well, but without the Trackpad being connected. Maybe you can connect the Trackpad to a USB-phone-charger a

[2019-02-21 14:17] #35 closed

[2019-02-21 14:23] schmunk42 commented on #35
yes

Antergos/Arch

[code]

[2019-02-21 14:25] mwyborski commented on #35
I also have a xps-15 and kernel panics with 4.20. At least last time i tried it like 4.20.5 or something. But i haven't had the Trackpad connected, so if you ask me, i think it is because of 4.20.

[2019-02-21 14:34] schmunk42 commented on #35
Thank you for the feedback, my issues definitely arose since 4.20.

[2019-02-21 14:41] mwyborski commented on #35
You are welcome ;-)

[2019-02-21 23:02] dos1 commented on #34
https://github.com/robotrovsky/Linux-Magic-Trackpad-2-Driver/issues/19#issuecomment-409420052 describes it pretty well. You have to do it manually, as it's not implemented in the driver yet.

[2019-03-13 17:01] Liemaeu commented on #33
I have the same problem (Ubuntu 18.04.2, 4.18.0-16-generic)

[2019-03-13 17:04] Liemaeu opened #36 "Ubuntu 18.04.2 no scrolling"
My System:
Ubuntu 18.04.2 (amd64)
Kernel: 4.18.0-16-generic

I can't scroll with my Magic Mouse 2.

There was no libinput directory in /etc, so I created it (sudo mkdir /etc/libinput) and placed the local-overrides.quirks file in it. But it still doesn't work.

[2019-03-13 17:59] mwyborski commented on #36
Have you compiled the kernel module yourself? It is not included in 4.18 it is included from 4.20 onwards.
You can just checkout the version below and you dont need the quirks file, everything should work:
https://github.com/robotrovsky/Linux-Magic-Trackpad-2-Driver/tree/63187c13bb198609689460bbd1a99a4f622b5d83

[2019-03-13 18:00] mwyborski commented on #33
You mean the Magic Trackpad 2, not the Magic Mouse 2, right?
You can just checkout the version below and you dont need the quirks file, everything should work:
https://github.com/robotrovsky/Linux-Magic-Trackpad-2-Driver/tree/63187c13bb198609689460bbd1a99a4f622b5d83

[2019-03-13 20:36] romanAbrahamovic commented on #33
@robotrovsky Magic Mouse 2, not Magic Trackpad 2. Support this drive magic mouse 2?

[2019-03-18 16:22] mwyborski commented on #33
@romanAbrahamovic no this driver doesn't support the Magic Mouse 2. Only Magic Mouse I and Magic Trackpad I + II

[2019-03-18 16:22] #33 closed

[2019-04-08 14:24] leandromaniezo commented on #11
I'm using ubuntu 18.04 on a Sony Vaio VPC, the Magic Trackpad 2 works just with one finger, I'd like to set it to work at least two finger scrolling.

Have you tried xinput, libinput and interfaces, but without success, have any tips to help?

Thanks

[2019-04-08 14:24] leandromaniezo commented on #14
I'm using ubuntu 18.04 on a Sony Vaio VPC, the Magic Trackpad 2 works just with one finger, I'd like to set it to work at least two finger scrolling.

Have you tried xinput, libinput and interfaces, but without success, have any tips to help?

Thanks

[2019-04-10 10:58] tegk commented on #36
Same here with Linux 5.0.7-050007-generic on Ubuntu 18.10. Mouse works with right and left click but no scrolling. Any tips to get it working?

[2019-04-10 13:51] dos1 commented on #36
At first glance I'd say that it's probably unrelated to the driver, but to configuration of input driver in your display servers/desktop environments.

[2019-04-11 12:42] mwyborski commented on #36
I recommend to wait a few days and upgrade to Ubuntu 19.04, there everything works out of the box.

[2019-04-11 12:43] #36 closed

[2019-04-11 12:43] #32 closed

[2019-04-11 12:44] #31 closed

[2019-04-11 12:46] mwyborski commented on #11
@leandromaniezo 18.04 doesn't come with the driver. The driver is included from 4.20 onwards. I recommend you to wait a few days and upgrade to Ubuntu 19.04, there everything works out of the box.

[2019-04-11 12:46] #11 closed

[2019-04-11 22:09] mitermayer commented on #7
Whats the current state on having this driver on fedora ???

[2019-04-11 22:19] mwyborski commented on #7
@mitermayer if you have a kernel >= 4.20 then you have the driver. But you will need a quirks file like described in the readme.

[2019-04-12 13:15] dos1 commented on #7
When https://gitlab.freedesktop.org/libinput/libinput/merge_requests/214 and https://github.com/systemd/systemd/pull/12282 reach the distros, everything should work out-of-the-box via either Bluetooth or USB.

[2019-04-12 15:40] mwyborski commented on #7
@dos1 that is great to hear!!

[2019-04-19 19:14] dos1 opened #37 "USB: no movement after suspend-resume cycle"
(it probably should get reported to kernel's bugzilla too at this point, but let's do it here first)

When Magic Trackpad 2 is connected via USB, it stops responding after a suspend/resume cycle. Only left button clicking works. I suspect that the multitouch capability needs to be enabled again at this point, but currently the driver does nothing on resume.

[2019-04-19 19:14] dos1 commented on #22
No need.

[2019-04-24 18:41] kubaplas commented on #33
I can confirm that the driver works with Magic Mouse 2, but it needs to be manualy loaded -
see https://forum.manjaro.org/t/apple-magic-mouse-2-not-working-kernel-4-20/72236/5

[2019-04-30 00:12] whot commented on #32
bug for libinput was filed here: https://gitlab.freedesktop.org/libinput/libinput/issues/280

[2019-05-02 20:57] ddalida opened #38 "Magic Mouse Scrolling not working in Ubuntu 19.04"
I had this module working in 18.04 with the 4.20... kernel without issues. I know it has been implemented into the release but the scrolling isn't working. I've tried rmmod and insmod under the 5.0.0-13 kernel with 19.04 but no joy. This is with the Magic Mouse 2 and not the trackpad.

Am I missing something? Any info that could be relevant I can provide?

[2019-05-02 21:18] ddalida commented on #38
This is what gets loaded at startup (lsmod | grep hid):

hid_apple              16384  0
hidp                   28672  2
hid_generic            16384  0
bluetooth             557056  40 btrtl,hidp,btintel,btbcm,bnep,btusb,rfcomm
usbhid                 53248  0
mac_hid                16384  0
hid_magicmouse         20480  0
hid                   126976  5 hidp,usbhid,hid_apple,hid_generic,hid_magic

[2019-05-03 06:50] leshchenkoEk opened #39 "Trouble with installing"
Hi, I use Ubuntu 18.04.2 LTS, try to install with Makefile, but I changed it to the next:
`KERNEL_VERSION	:= $(shell uname -r)
KERNEL_MODULES	:= /lib/modules/$(KERNEL_VERSION)/build

hid-y := hid-magicmouse.o

obj-m += hid-magicmouse.o

all:
	$(MAKE) -C $(KERNEL_MODULES) M=$(shell pwd) modules

clean:
	$(MAKE) -C $(KERNEL_MODULES) M=$(shell pwd) clean
`

and after `sudo make` command I get:

`make

[2019-05-11 12:54] esfourteen opened #40 "inconsistent USB vs bluetooth"
When using the trackpad via bluetooth, a quirks override is still necessary to fix the pressure issues. Additionally, for some reason palm rejection doesn't work at all (just picks up palm as mouse movements).

When using the trackpad via USB, pressures work as expected without any quirks and palm rejection works reliably.

Tested this with both live USB ubuntu 19.04 (kernel 5.0) and elementary ju

[2019-05-11 13:01] esfourteen-zz commented on #40
additionally, xinput sees the device as 'Apple Inc. Magic Trackpad 2' with usb or bluetooth, but shows different product ID's.

When connected via usb the following additional input properties are present:

    libinput Disable While Typing Enabled (315):    1
    libinput Disable While Typing Enabled Default (316):    1

these are not present when connected via bluetooth.

Xorg log shows no diffe

[2019-05-11 13:46] esfourteen-zz commented on #40
USB:
![xinput usb](http://i.imgur.com/qjcIXd2.png)

Those quirks listed appear to be the default USB quirks defined for apple touchpads:

    [Apple Touchpads USB]
    MatchVendor=0x05AC
    MatchBus=usb
    MatchUdevType=touchpad
    ModelAppleTouchpad=1
    AttrSizeHint=104x75
    AttrTouchSizeRange=150:130
    AttrPalmSizeThreshold=800

Bluetooth:
![xinput usb](http://i.imgur.com/2v4f6PL.png)

[2019-05-11 15:45] dos1 commented on #40
Patches necessary for it to work out-of-the-box are already in both systemd (https://github.com/systemd/systemd/pull/12282, merged in v242) and libinput (https://gitlab.freedesktop.org/libinput/libinput/merge_requests/214, merged in 1.13.2). You have to wait until your distribution ships them or apply those fixes by yourself.

[2019-05-11 15:46] dos1 commented on #40
BTW. Palm rejection gets automatically disabled for external devices, so the correct behavior is to have it disabled for both Bluetooth and USB (it wasn't disabled for USB, because it was incorrectly marked as internal instead).

[2019-05-11 17:45] esfourteen-zz commented on #40
@dos1 i see, that makes sense. what would be the correct way to enable palm detection for bt (or usb when patch is merged)?

[2019-05-11 17:58] dos1 commented on #40
Not sure if libinput allows you to reenable palm detection for external touchpads, I guess it doesn't, but you can always use a local udev-hwdb override to mark the touchpad as internal (see the systemd PR for reference).

[2019-05-11 18:02] esfourteen-zz commented on #40
@dos1 ah yep, that works. thanks!

[2019-05-11 18:02] #40 closed

[2019-05-15 15:30] bradley-varol opened #41 "Acceleration"
I've installed this driver on Ubuntu 18.04, Kernal 4.18, and I notice that acceleration is enabled.

Can I disable it?

[2019-05-15 17:17] dos1 commented on #41
It's not up to the driver - you have to configure it in whichever windowing system and desktop environment you're using.

[2019-05-18 15:55] makslevental commented on #37
i get similar behavior: wired (usb) works on login screen and then once i login (my desktop manager shows up) i get only left and right click (no motion).

[2019-05-20 10:11] bradley-varol commented on #41
Alright, thanks.

[2019-05-20 10:11] #41 closed

[2019-05-20 11:34] bradley-varol commented on #41
Any help would be appreciated;

I installed a clean copy of Ubuntu 18, installed Gnome Tweaks and set the acceleration profile to "flat". This removed acceleration. I then installed this driver and acceleration is back...

[2019-05-27 19:25] mmalek-sa commented on #14
Have you signed the hid_magicmouse module?
[code]

[2019-05-28 21:58] dos1 commented on #14
@regis-leray's and @leandromaniezo's issues seem like unrelated ones. This one (having to bind hid_magicmouse to the device), as far as I understand it, is actually expected on kernels older than 4.18, unless you rebuild your whole kernel with modified `hid-quirks.c` file.

[2019-06-17 14:27] stubbulon5 commented on #33
@romanAbrahamovic how much work would supporting Magic Mouse 2 take? (Enabling scrolling, that is)

I recon there would be many Linux users happy to buy you a coffee if you got this working...

[2019-06-17 15:08] stubbulon5 commented on #38
(--Moving from a closed issue--)

@romanAbrahamovic how much work would supporting Magic Mouse 2 take? (Enabling scrolling, that is)

I recon there would be many Linux users happy to buy you a coffee if you got this working...

[2019-06-17 19:14] Liemaeu commented on #33
@stubbulon5 Me for example!

[2019-06-27 16:01] wolftune commented on #37
Maybe relevant: I've found temporary solution for similar case myself at https://www.reddit.com/r/Ubuntu/comments/ahgbdg/apple_magic_trackpad_2_configuration_on_kubuntu/ in terms of the movement problems being related to the pressure settings. I have to use that process to get `xinput set-prop` to the right details. But since using the Magic Trackpad, suspend and resume can even crash my whole mac

[2019-06-27 19:14] wolftune opened #42 "Update README updates for easier to understand"
its not clear which update suggestions apply to which scenarios or whether they are alternatives to one another or to be used in conjunction.

It would be good to update the README to make it clearer.

Also, the basic what-this-is should go above the updates sections.

[2019-06-27 23:12] dos1 commented on #37
These patches are mine and are unrelated ;)

With out-of-date stack you can get "movement problems" related to libinput's interpretation of pressure values, but that's not what's reported here - after a suspend/resume cycle the values stop coming from the kernel altogether when connected via USB.

[2019-06-28 01:03] wolftune commented on #37
@dos1 thanks for clarifying, that's disappointing because I have the same problem you reported here and was hoping maybe those patches would help. So, I guess not. This suspend-resume problem remains outstanding.

[2019-06-28 10:09] mwyborski commented on #42
@wolftune this is a open source project and lives from the community. If you like to reorganize/improve the README, then i am happy to merge your pull-request.

The driver is part of all kernels starting from 4.20, so the suggested update is to run a recent kernel.

[2019-06-28 10:09] #42 closed

[2019-06-28 10:11] mwyborski commented on #39
Installation depends on the kernel you installed. The easiest way to get the driver is updating the kernel to 4.20 or higher, where it is included. On Ubuntu 19.10 the MT2 works out of the box.

[2019-06-28 10:11] #39 closed

[2019-06-28 10:12] #24 closed

[2019-06-28 10:13] #16 closed

[2019-06-28 10:13] #22 closed

[2019-06-28 10:14] #7 closed

[2019-06-28 22:29] wolftune commented on #42
@robotrovsky I'm well-aware of open source development; I didn't open the issue to ask or demand that others do work. Often the way to clarify about issues is to discuss the concern and get consensus first rather than fly-by PRs (which presume your time in making sense of them).

I'd be happy to submit a PR. I'm not totally clear about how to describe the status though. Since the README "updates"

[2019-07-16 11:05] mthaak opened #43 "Cannot load DKMS module (unsigned) with secure boot"
Putting this out there for people experiencing the same problem because it took me a while to install this driver properly.

My setup is a Lenovo Thinkpad 5th gen. notebook with Ubuntu 18.04.2 LTS running kernel 4.18.0-25-generic.

After installing the driver using `scripts/install.sh` I didn't enroll the new key using MOK (for some reason the password I set wasn't accepted). Which I think lead to

[2019-07-16 11:05] #43 closed

[2019-07-18 01:16] jeremysf commented on #14
I'm on 19.04 and I can initially get magic mouse 2 with scrolling to work, but it will not survive reboots. When I look, it is bound to hid_generic, but no amount of rmmod/insmod works for me (I can run the uninstall script and reboot, and then reinstall and it works until I reboot).

I am able to unbind it from the hid_generic, but if I try to bind it to the magicmouse driver, I just get "can't f

[2019-07-31 16:09] guyzmo opened #44 "Regression for Magic Mouse v1: no more scroll or middle button"
Hello,

there's been a regression with the hid_magicmouse driver, probably related to the merge with the magic trackpad 2 work done, where no touch events are reported to userspace by the kernel.

I have been a happy MM1 user for many years, and a couple of months ago I updated my kernel on Arch (a late update because I've been busy), and I lost scrolling and middle button on my MM1.

I tried pinn

[2019-07-31 17:10] guyzmo commented on #44
After some digging, tickering with the kernel module:

* I tried former versions of the module (up to [this commit]( https://github.com/torvalds/linux/commit/f07b3c1da92db108662f99417a212fc1eddc44d1#diff-b31bb07401d2e8aafa4a62c10b6781f3), before that `hid_register_report` has another prototype. And it led to no success.
* I added log points in the `magicmouse_raw_event` and no event is emitted on

[2019-07-31 18:12] guyzmo commented on #44
because of the issue, I thought it might be the `magicmouse_setup_input` method that's faulty, so I tried reverting it up to a version from 2013, and it changed nothing. I tried tickering with the `input.keybit`s as well, trying several combinations, and see if it would enable touch events on the `magicmouse_raw_event` function… still no luck.

I start to believe that indeed your additions are not

[2019-07-31 18:13] guyzmo commented on #44
(and if you don't mind keeping this issue for tracking progress and research about that issue, so it's simpler than going through forums or mailing lists).

[2019-07-31 18:17] guyzmo commented on #26
@rburcham did you end up solving your issue? I opened a new issue :point_up: to track research and progress on the issue to maybe get to a solution, given @robotrovsky is ok with that.

[2019-08-03 14:29] DaBlitzStein commented on #33
Scroll not working on 5.0.23 ubuntu 18.04 .

[2019-08-03 17:06] brave3d opened #45 "Windows Support"
Hello everyone, I know it may not be a related issue, but I wonder if anyone was able or has information on how to make this as starting point to support Windows, IE. Make a reliable driver for apple magic mouse on Windows, the issue with the official driver is that it doesn't support scrolling, but only mouse movement and it disconnects frequently, I made tiny windows service that prevents discon

[2019-08-05 17:36] rburcham commented on #26
Never did.  I did get a response on linux-input pointing the finger at the kernel module:

https://gitlab.freedesktop.org/libinput/libinput/issues/200#note_95204

But no joy.  Honestly I do feel that the commit (redesign) referenced in that thread must have something to do with the issue.  It's possible something was lost in translation, or maybe Peter didn't look closely enough, as the change ref

[2019-08-23 06:36] stubbulon5 commented on #33
@robotrovsky , is seems Magic Trackpad 2 scrolling works but not Magic Mouse 2 scrolling. How feasible would a fix for this be?

Much respect for the work you've done so far.

[2019-09-05 20:35] djhoese commented on #38
I found that there is a branch in @rohitpid's fork that is at least a start on getting MM2 to work, but I haven't tested it: https://github.com/rohitpid/Linux-Magic-Trackpad-2-Driver/tree/magicmouse2

[2019-09-12 08:51] mrdev023 commented on #38
It work i tested

[2019-09-12 11:39] stubbulon5 commented on #38
You mean Magi Mouse 2 scrolling with the above repository link?

[2019-09-21 21:52] bionicmac opened #46 "Support for Linux Kernel 5.2.15 please."
I used this driver well into the 5.* and until now it worked fine. I probably jumped from 5.1.* to 5 .2.15 though. I've tried this on Fedora with kernel version mentioned above and it doesn't work. Thanks so much for the wonderful work!

[2019-09-27 15:36] stubbulon5 commented on #38
I tested it today, and it worked! thanks @rohitpid

[2019-10-01 21:58] frumble commented on #46
Is working here on 5.3.1 on Arch.

[2019-10-03 19:06] dos1 commented on #46
This driver is already included in mainline since 5.0.

[2019-10-14 20:44] gchehab commented on #33
I am using this fork patched to work with magic mouse 2: [https://github.com/rohitpid/Linux-Magic-Trackpad-2-Driver](https://github.com/rohitpid/Linux-Magic-Trackpad-2-Driver).
The (virtual) wheel using single finger swipe works ok using libinput driver option.
It would be nice to have it merged with the main version -- I guess I could do a merge request, should it be acceptable.

[2019-10-15 10:24] hiradyazdan opened #47 "Support for Secondary Click"
Hi, I was wondering if this driver can support a secondary click that can be activated and have option to choose to click in bottom right corner as well? If not, it would be great to support it.

Thanks

[2019-10-15 12:33] dos1 commented on #47
Unless you mean something like "force touch", it's not the driver's job. You should rather look at something like libinput instead. Secondary button clicks work just fine for me with two fingers, and having virtual buttons in bottom corners worked fine after applying appropiate libinput quirks last time I checked.

[2019-10-15 13:55] hiradyazdan commented on #47
Oh! Thanks, I didn't realize that. I guess now I have to figure out how to configure the `libinput`'s button areas and clickfinger behavior, right?

Edit: So far, my search over this has been unsuccessful @dos1. If you have a clear vision on how this can be implemented I'd be grateful to hear that.

[2019-10-23 16:49] hiradyazdan commented on #47
FYI, `libinput` quirks on their own does not take permanent effect and solves this problem. It is the desktop environment which overrides/forces its own settings. So in my case was gnome which uses libinput overriding xorg config, and following command worked permanently:

[code]

[2019-10-23 16:52] #47 closed

[2019-10-30 01:04] mistertwo commented on #37
Picked up a MT2 recently, and am running into the same issue over USB. I've tried sending a USBDEVFS_RESET ioctl call to the device to see what would happen (I've seen it as a way to reset USB devices without the physical disconnect/reconnect), and instead of bringing the device back, I'm able to recreate the non-moving cursor without setting the computer to sleep and waking it back up.

Checked t

[2019-10-30 01:58] dos1 commented on #37
Just a thought: I believe it's more likely that it's a matter of what the device itself sends to the computer rather than some internal state of the driver. Driver is configuring the trackpad on init to enable various features, like multitouch reporting, so this would be my main suspect there.

[2019-10-31 00:29] mistertwo commented on #37
I've dug around a bit last night on ways to trigger the init call within X/xinput, but didn't come up with much. If you (or anyone else reading) happens to have something on how to do that, let me know.

I did notice that mtrack was throwing some stuff into the Xorg log to declare when the device was initialized, turned on, off, etc.

Do you happen to have anything that would point me in a proper

[2019-10-31 01:35] dos1 commented on #37
Do you have any particular reason to suspect X there? I'd have to recheck to be sure, but as far as I remember the events were ceasing to flow at the kernel level already - I'd definitely start  by digging in the kernel driver there.

[2019-10-31 08:15] mistertwo commented on #37
I don't have a reason to suspect X at the moment. I was poking to see if there's another way to restart the connection without physically reconnecting via USB.

So after going for a dig in hid_magicmouse (controls the trackpad as well), it looks like there's a probe function that gets called when the device is plugged in, but there's no suspend or resume calls, which from what I've read so far sho

[2019-10-31 08:49] mwyborski commented on #37
@mistertwo and @dos1 I haven't checked the suspend/resume. But you are right, that during initialization there is sent a USB message to the MT2, which puts it into multi-touch mode. Without multi-touch mode only one touch is recognized and e.g. 2-finger for right-click won't work. So this is problably the issue and the initialization should be called after resume. Also there is no problem, if by c

[2019-10-31 09:00] mwyborski commented on #37
I might give it a shot sometime in november, but if someone of you want to patch it please go for it. Just tell me, so that we are not doing the same work.

[2019-10-31 15:05] wolftune commented on #37
To clarify my reproduction of this: upon resume, my MT2 can click and can move the cursor when I use significant pressure (sort of like a click+drag). But normal cursor movement doesn't go. I simply toggle the physical on/off switch and everything then gets set correctly. So, I'm just in the habit of doing that toggle as a part of the resume routine.

It would be nice to have it fixed though.

[2019-10-31 15:43] mistertwo commented on #37
@robotrovsky I'll give this a shot tonight, and let y'all know how things go.

[2019-10-31 16:21] mwyborski commented on #37
@mistertwo great! I think this was the switch to multi-touch:

[code]

[2019-11-01 06:09] mistertwo commented on #37
Alright, gave this a shot. I've got a lot to learn... :)

Anyways, basics. Wrote a couple of functions that should trigger on suspend and resume:

[code]

At this moment, the suspend function is being called without hassle. Oddly enough, it shows up when resume should be called (after waking the machine) in dmesg. I get nothing at all from the resume function in dmesg.

With regards to the if test

[2019-11-02 16:58] mistertwo commented on #37
After more digging, found that the reset_resume hook, instead of just resume, would trigger things as expected. Tried the driver with just the block that @robotrovsky mentioned, and that stopped all input from the device. Added the feature code here ( https://github.com/torvalds/linux/blob/master/drivers/hid/hid-magicmouse.c#L649 ) and that brought left clicking back.

Tried adding the code for se

[2019-11-06 09:10] dm17 opened #48 "Is there any way to increase polling rate?"
Do you know if it would be possible to increase the polling rate of the trackpad? Seems like this is mostly unexplored on trackpads.
Thanks!

[2019-11-06 09:18] mwyborski commented on #48
@dm17 the reports are not polled if i remember correctly, the Trackpad just sends the reports. That said i think USB performs a little better than Bluetooth.

[2019-11-06 09:18] #48 closed

[2019-11-06 09:44] dm17 commented on #48
I didn't realize trackpads were not polled. I'll have to look into that more. Thanks.

[2019-11-07 18:24] mistertwo commented on #37
Hokay.

https://github.com/mistertwo/magic_trackpad_2_fix/blob/verbose_messaging/linux/drivers/hid/hid-magicmouse.c

So far, it looks like there's something where the size of an incoming report to the magicmouse_raw_event function is incorrect. Here's some logs from the debug statements I threw into the driver, before and after a sleep/suspend session.
[code]

I'm not 100% on where the size of 8 i

[2019-11-07 21:21] reshadd94 opened #49 "Did someone test it on 4.15.x?"
Any directions on how to install and test it on versions below 4.18 would be much appreciated

[2019-11-08 09:38] mwyborski commented on #37
@mistertwo The size of 8 is coming from simple one finger touch report. After the switcht to multitouch this report size will be 21 and contain all touches. So it shows, that the switch to multitouch hasn't been executed. You need to switch to multi-finger-report in the resume method. I think it is something like the snippet i posted before.

Thanks for your effort! I think you are only missing th

[2019-11-08 18:28] #49 closed

[2019-11-08 18:58] mistertwo commented on #37
@robotrovsky After doing some more exploratory digging, I've taken a step back to re-focus on the chunk of code that you've mentioned. I was having no luck just running that alone, so I checked into just what's happening with that particular chunk of code.

So, depending on what kind of device we have, and how it's connected, it's making a call to hid_register_report ( https://github.com/torvalds/

[2019-11-08 21:34] mistertwo commented on #37
Might have spoken a bit soon. Went through a couple of reboots (done by me) and re-compiled and installed the driver a couple of times to be sure.

The error above still appears, but I'm now able to use the trackpad again after a sleep/resume session. No disconnect required.

Updated code available here: https://github.com/mistertwo/magic_trackpad_2_fix/blob/fresh_start/linux/drivers/hid/hid-magic

[2019-11-10 12:30] mwyborski commented on #37
@mistertwo that sounds great. The hid_register_report sends the request for the 10 finger report to the MT2. After the hid_register_report the report size should change from 8 bytes to 21 bytes.
Great that you got it running. If you think your patch is production ready i can review it if you like. Then you should use checkpatch.pl from the linux source and commit it according to the guide-lines (t

[2019-11-18 09:46] #46 closed

[2019-11-18 09:49] #8 closed

[2019-11-18 09:49] #9 closed

[2019-11-25 21:21] mistertwo commented on #37
Hey, hopping back onto this. I'm able to generate a clean patch, which is good. I'm digging back into the -32 error that was coming back (tied to a broken pipe, according to the error numbers) from the call within hid_hw_raw_request. Yet the mouse still works.

Since I'd rather not submit something that seems broken, I'm going to take a bit more time to see what's going on in there. Or... would th

[2019-11-26 08:37] mwyborski commented on #37
@mistertwo if you send the patch in, i think it would be better if you remove the request which returns an error. If you don't know where this is coming from, you can try to send this to mailing-list and ask there.

[2019-11-26 15:45] mistertwo commented on #37
@robotrovsky The particular request that sends the -32 error back is the same one that gets the trackpad working again after wake. I'll post in there and see if anyone knows while I keep things rolling.

[2019-11-26 16:45] mwyborski commented on #37
great job @mistertwo . I will have a look, maybe i see something.... Which baseversion have you used, to make a diff.

[2019-11-27 17:31] mistertwo commented on #37
I based my patch on master on torvalds/linux.git, tagged 5.4. This is all on my fresh_start branch for now.

[2019-12-02 06:40] brainard52 commented on #14
Is signing hid_magicmouse a complex process? I'm a bit of a neophyte when it comes to kernel modules. This is on a fresh installation of Ubuntu 19.10.

[2019-12-02 12:43] bitfabrikken opened #50 "Drag stops when pressing a bit harder while dragging"
Does anyone know how to make the Magic Trackpad 2 keep dragging, even though you're pressing hard? As it is now, I have to drag with a feather-light touch, and it's hard to get used to.

I've tried changing AttrPressureRange, but it doesn't seem to do anything.
Perhaps someone knows what to change in regards to dragging pressure?

When I press hard while dragging, the pointer just stops moving com

[2019-12-02 12:46] mwyborski commented on #50
Which desktop are you using? For XFCE create the file like explained in the README.MD

[2019-12-02 13:58] bitfabrikken commented on #50
@robotrovsky KDE Plasma

[2019-12-02 14:26] mwyborski commented on #50
I haven't used KDE Plasma with the MT2 yet. But i think it might work in Kubuntu 19.10 as it is working in the standard Ubuntu as well. You could check in a virtual machine if it works for you in Kubuntu and compare the configuration with your own.

[2019-12-04 11:26] bitfabrikken commented on #50
@robotrovsky I've tried in Kubuntu 19.10, and yep, it works correctly there.
Only differences are:
Kubuntu libinput 1.14.1 vs 1.12.6-2 on debian
Kubuntu kernel 5.3.0-24-generic vs 5.3.9-2bpo10+1 (2019-11-13)
Not too sure what to try next..

[2019-12-04 11:47] mwyborski commented on #50
@bitfabrikken great, so we are a step closer ;-)
The kernel version should be no problem as long as magicmouse driver (contains MT2) is included. About the libinput i am not sure, but i think it neither is the problem.
You could now check the udev rule and the X / KDE configuration. I guess that is where the difference to your system is. I think the libinput driver is loaded but not configured cor

[2019-12-04 15:17] bitfabrikken commented on #50
@robotrovsky closing in I hope :) I'll give some more verbose info:

I was on debian's stable kernel for a while (4.19.67-2+deb10u2), where I tried using this repos driver (via make, rmmod, insmod), but it didn't work and so switched to the backported kernel from testing (5.3.9-2~bpo10+1).

Now it works, but with the mentioned error where it stops moving the cursor when pressing too hard.

The 90-

[2019-12-04 15:29] mwyborski commented on #50
@bitfabrikken i think this is a X11 misconfiguration. I would compare the xorg configuration files. I am sorry that i can't help you more. But i agree that you should get rid of the "Applying InputClass" lines in dmesg. Maybe when another driver gets loaded the values/thresholds get changed or something.

[2019-12-04 15:32] bitfabrikken commented on #50
Thanks @robotrovsky, I'll have a look in sec.

I just noticed something else that perhaps could pinpoint?
When using "libinput measure touchpad-pressure", I see that "palm" is active when I reach ~130 pressure. This appears to be exactly when the mouse cursor stops moving. The hardware "click" by the motor appears around 90.

I've currently got this in quirks:
ModelAppleTouchpad=1
AttrSizeHint=104

[2019-12-05 14:52] bitfabrikken commented on #50
@robotrovsky I ended up going to debian testing instead of stable. Works out of the box now! Haven't run debian for desktop in 20ish years, and apparantly stable is waaaay behind. Anyways, appreciate all your help the last few days!

Unrelated, but perhaps you can point me in the right direction to have three-finger touch move windows? Am also wanting to make four fingers resize windows. You proba

[2019-12-05 14:52] #50 closed

[2019-12-05 14:58] mwyborski commented on #50
@bitfabrikken you are welcome. Regarding three finger drag look into mtrack driver instead of using libinput.
https://github.com/BlueDragonX/xf86-input-mtrack

[2019-12-05 15:14] bitfabrikken commented on #50
@robotrovsky thanks, but I've tried mtrack and it's too laggy when scrolling for me :)

[2019-12-05 16:41] mwyborski commented on #50
@bitfabrikken i agree. Three finger-drag works very well, but the scrolling is ugly..

[2019-12-07 02:43] txtad commented on #33
That would be wonderful. I've converted a Mac mini to an Intel Nuc running Ubuntu, but I've kept the mini's keyboard and mouse. I was happily surprised that they are working at the login screen, but then quickly disappointed that scrolling with the Magic Mouse 2 wasn't working. I was honestly surprised that it didn't "just work".

[2020-01-02 06:10] jeffywu commented on #38
Hi, wondering if anyone can help with debugging an issue on this magicmouse2 driver. I'm using the fork from @rohitpid, unfortunately there's no way to file issues on that repo so I'm commenting here. The mouse connects over bluetooth successfully every time but the scroll wheel does not work until I reload the driver using:
[code]

These are the logs in `~/.local/share/xorg/Xorg.1.log`:
[code]

[2020-01-02 17:00] djhoese commented on #38
I had the same issue and my mouse would randomly disconnect. I ended up getting rid of my magic mouse and switched to a logitech bluetooth mouse after I couldn't find a solution to the scrolling issue. You may have luck with the "unstable" branch mentioned above.

[2020-01-05 17:55] reznikartem commented on #37
@robotrovsky Hello. Is any chance to see this fix in new linux kernel release? Had this problem with suspend too.

[2020-01-06 17:25] AlanBStone opened #51 "Driver not loading on startup"
I've installed the driver according to the instructions.  Everything works great, however when I restart the system for any reason, the driver is not loaded at startup.  I am forced to load it manually, then all is great again.  I'm not exactly sure what is going on.  Thanks.

[2020-01-15 10:18] Gintoki1ku commented on #45
You can check out this https://github.com/imbushuo/mac-precision-touchpad. I just installed it on Windows and enabled the touchpad in settings which works perfect.

[2020-01-15 11:54] brave3d commented on #45
Seems like this is designed for touchpad, have you tried it with magic mouse?

[2020-01-15 14:35] Gintoki1ku commented on #45
My apologies. I thought you want support for trackpad and I don't have magic mouse.

[2020-01-19 23:21] harunyasar commented on #51
Same here.

[2020-02-03 23:42] RicardoEPRodrigues commented on #38
Hello, I have been scrolling through several of these issues and found some solutions, I decided to pick some of them up and compiled them. Can you please try my solution out?

https://github.com/RicardoEPRodrigues/Linux-Magic-Trackpad-2-Driver

This should fix 2 problems: Magic Mouse 2 driver not loading after reconnection and random Bluetooth disconnections.

[2020-02-05 06:56] jeffywu commented on #38
@RicardoEPRodrigues, thanks! I tested out your instructions and they worked well. A couple minor suggestions. This udev configuration works well for me, in your version the second line is missing a comma and a backslash I believe.

[code]

I was able to view the properties on the mouse via dbus:
`dbus-send --system --print-reply --type=method_call --dest=org.bluez / org.freedesktop.DBus.ObjectMana

[2020-02-05 10:30] RicardoEPRodrigues commented on #38
Hello, thank you for the input! I updated the `udev` rule. I hope it now works correctly:

[code]

Correct me if I'm wrong, but I think this rule goes like: "if an usb device with the product id of `e300` is detected (the ID is the one from the Magic Mouse) then load an input driver for that device".

I read more info on the device based on this command `udevadm info -a -p $(udevadm info -q path -

[2020-02-06 10:49] RicardoEPRodrigues commented on #38
Hello again, sorry for the SPAM.

My solution doesn't work as is. The way I was trying to do things was to read an id from `usb1/X-X` which is specific to the PC and not the mouse.

I trying to find a solution. If we can find a Magic Mouse 2 ID in the `udev` info then we can change the rule and the solution should work for everyone.

If not, then I'm trying to find an ID in the Bluetooth info, wit

[2020-02-06 13:25] RicardoEPRodrigues commented on #38
Ok, I figured it out.

I rewrote the rule to catch all the Magic Mouse 2. FINALLY. Check this out:

[code]

Remember to try my `./install` in my repo. Any input is good input.

[2020-02-10 04:37] jeffywu commented on #38
The second rule works for me. Thanks for your effort!

[2020-03-17 08:34] redbeard28 commented on #51
Same here

[2020-03-18 20:14] micbakos commented on #51
:+1:

[2020-03-23 13:50] danielkappelle commented on #51
I'm using the fork from rohitpid (https://github.com/rohitpid/Linux-Magic-Trackpad-2-Driver) to support Magic Mouse 2, but I have a similar issue after reboot or reconnecting the mouse. The module gets loaded, but I have to reload the module in order for scrolling to work. I can't figure out what the difference is though...

The module is loaded (after connecting the mouse), but scrolling does not

[2020-04-01 16:08] eaudet commented on #51
After a restart, I also need to do this
[code]
For some reasons, (perhaps the install did not work completely) I don't see the 90-magic file in:
/usr/share/X11/xorg.conf.d/

[2020-04-08 18:57] christianlaurent1992 opened #53 "not working with Ubuntu 20.04"
Hello everyone,

This code has always just worked for me with magic mouse 2 and is excelent- I have reinstalled after upgrading to ubuntu 20.04 and performed the troubleshooting steps on the read.me, to no avail:

[code]

`sudo insmod ./hid-magicmouse.ko`  executes without an error

I've never dabbled in any driver development before and am probably too newbie to solve this myself but i'm happy to

[2020-05-18 12:12] frankgould commented on #53
Hi christianlaurent1992, I was able to install the magic mouse (2 I believe) but it took a few different approaches until it finally worked for me. I haven't gone back to confirm all is needed but I can list what I tried that is now operational with horizontal/vertical scroll. Maybe one of these will work for you. The two links below were most helpful.

https://www.raspberrypi.org/forums/viewtopic

[2020-05-18 22:40] christianlaurent1992 commented on #53
Thanks, I got it working too with some fiddling. But not without doing it manually after every reboot and tbh I haven’t noticed if horizontal works (but I think it does)

I have never gotten the 3 finger stuff to work, despite multiple attempts, have you?

--
Christian Laurent | Tizard Scholar
Aerodynamics and Flight Mechanics Group | 13/5037
Faculty of Engineering and the Environment
University o

[2020-05-20 12:38] frankgould commented on #53
Yes, same here with manual configuration execution after every reboot. There should be some way to have it execute during the boot sequence but in all my attempts, the script can't connect to the X server or display. Any suggestions there are welcome. Also part of my configuration script, I parse the xinput string to determine the mouse and command id to set the desired parameters.

As for three f

[2020-05-20 14:51] christianlaurent1992 commented on #53
I had some success making a small bash script with an alias ‘scrolling my that went something like:

Cd directory
Make clean
Make
Rmmod hid Magic Mouse
Insmod hid Magic Mouse
Cowsay keep scrolling Mooooooooo

But that broke so I’ve taken to doing it manually for a while...

I guess if you got that working the you could execute the same script on start up?

--
Christian Laurent | Tizard Scholar
Aer

[2020-05-29 15:43] leftdevel commented on #33
Sorry for posting on an old thread. I got the magic mouse working even with the scroll feature, but scrolling is quite slow, just to scroll this thread it takes me 7 swipes. Do you know how I can increase the scroll speed?

Thank you.

[2020-06-11 18:23] ralphsc commented on #38
This isn't working on Elementary OS 5.1.5. Here's the steps I'm taking. Move the original kernel driver hid-magicmouse.ko from my 5.3.0-59-generic kernel and running "depmod -a" then reboot. After the system comes back up I'm following the install instructions (git clone and then running the install.sh as root) and reboot. When the system is back up and I click the mouse it is seen and paired but

[2020-06-12 13:19] RicardoEPRodrigues commented on #38
@ralphsc did you try my fork?

https://github.com/RicardoEPRodrigues/Linux-Magic-Trackpad-2-Driver

I have a pending pull-request (https://github.com/rohitpid/Linux-Magic-Trackpad-2-Driver/pull/1) where some discussion has been going on. It might help.

[2020-06-12 13:35] ralphsc commented on #38
Hi Ricardo,
Yes I was using your fork for this.

I'll take a look at
https://github.com/rohitpid/Linux-Magic-Trackpad-2-Driver/pull/1  and let
you know how it goes.

On Fri, Jun 12, 2020 at 9:20 AM Ricardo Rodrigues <notifications@github.com>
wrote:

[2020-06-12 13:58] ralphsc commented on #38
Ricardo,
I tried the suggestions in the link you sent but it's still not working.
This time I installed by running install-fix.sh, the mouse now moves but
without scrolling. I also removed / moved the original kernel
hid-magicmouse.ko driver before starting. Here's the xorg log when the
mouse is loaded:

[   805.929] (II) config/udev: Adding input device Magic Mouse 2
(/dev/input/mouse0)
[   805.9

[2020-06-12 14:14] ralphsc commented on #38
And just so you can see what happens with the udev rule in place here's the
xorg log output when the mouse is connected:

[  1845.138] (II) config/udev: Adding input device Magic Mouse 2
(/dev/input/event7)
[  1845.139] (**) Magic Mouse 2: Applying InputClass "libinput pointer
catchall"
[  1845.139] (II) Using input driver 'libinput' for 'Magic Mouse 2'
[  1845.139] (**) Magic Mouse 2: always repo

[2020-06-14 19:07] RicardoEPRodrigues commented on #38
@ralphsc Unfortunately I don't have a lot of time to try to debug this issue, but here are my thoughts.

The Magic Mouse 2 creates 2 devices, one `/dev/input/eventX` (the touchpad) and a `/dev/input/mouseX` (the mouse and buttons). `libinput` picks up any `mouseX` event and loads a driver for it, that is why by default you have a mouse with no scroll.

What my repo does is to load the driver for t

[2020-06-15 00:04] ralphsc commented on #38
Hey Ricardo,
No worries man. Thanks for the info I'll read through it and if I do figure
it out I'll share what works with this thread.

Thanks again for your time.

Sincerely,
Ralph

On Sun, Jun 14, 2020 at 3:07 PM Ricardo Rodrigues <notifications@github.com>
wrote:

[2020-06-18 20:37] ralphsc commented on #38
On Elementary OS I had to add a DRIVER section to get it to work, like so:

SUBSYSTEM=="input", \
    KERNEL=="mouse*", \
    KERNELS=="0005:004C:0269.*"
    SUBSYSTEMS=="hid", \
    DRIVERS=="hid-generic", \
    ACTION=="add", \
    SYMLINK+="input/magicmouse-%k", \
    RUN+="/opt/magic-mouse-fix/magic-mouse-2-add.sh"

On Sun, Jun 14, 2020 at 3:07 PM Ricardo Rodrigues <notifications@github.com>
w

[2020-06-18 21:56] RicardoEPRodrigues commented on #38
@ralphsc Great to know you got it working!

I tried to use your `udev` rule and it didn't work for me. I don't have any parent with `DRIVERS=="hid-generic"`. I made some changes, can you try to run this version and check if it works?

[code]

Thank you!

[2020-06-18 22:29] ralphsc commented on #38
I tried it and it didn't work for me. If I change the udev rule, disconnect
the mouse, unload the driver and click the mouse it pair's with BT and is
connected but no mouse movement. When I change the rule back and disconnect
the mouse, unload the driver and click the mouse it pair's with BT and it
all works.

This is on:
elementary OS 5.1.5 Hera
5.3.0-59-generic
On a MAC Book Pro 2013 era.

On Th

[2020-06-18 22:41] RicardoEPRodrigues commented on #38
Can you show me the output of `udevadm info -a -p $(udevadm info -q path -n /dev/input/mouseX)` where `mouseX` is the connected magic mouse?

I edited my previous answer to have ` DRIVERS=="hid-generic|magicmouse"`, you used that one right?

Can you try the following option (I removed the `DRIVER==""`) :

[code]

Also, what is the version of you `udev`? You can check it with `apt show udev`.

[2020-06-18 22:56] ralphsc commented on #38
udev:
Version: 237-3ubuntu10.41
xinput:
Version: 1.6.2-1build1

[2020-06-18 23:04] ralphsc commented on #38
It didn't work with that rule either. It seems that if I have "magicmouse" as a driver it fails to function.
Here's the hid drivers I have loaded when the mouse is working:

lsmod | grep hid
hid_magicmouse         20480  0
hidp                   28672  2
bluetooth             573440  42 btrtl,hidp,btintel,btbcm,bnep,btusb,rfcomm
mac_hid                16384  0
hid_apple              16384  0
hid_g

[2020-06-19 00:39] RicardoEPRodrigues commented on #38
Can you show me the output of `udevadm info -a -p $(udevadm info -q path -n /dev/input/mouseX)` where `mouseX` is the connected magic mouse?

[2020-06-19 00:51] ralphsc commented on #38
Sure thing. FYI, it does show DRIVERS=="magicmouse" but it doesn't work in
my udev rule.

udevadm info -a -p $(udevadm info -q path -n /dev/input/mouse0)

Udevadm info starts with the device specified by the devpath and then
walks up the chain of parent devices. It prints for every device
found, all possible attributes in the udev rules key format.
A rule to match, can be composed by the attribute

[2020-06-19 09:41] RicardoEPRodrigues commented on #38
This is going to be a long text. Sorry in advance.

So, the `DRIVERS=="hid-generic"` changes to `DRIVERS=="magicmouse"` when the driver is loaded. My guess is that for some reason on ElementaryOS when the driver changes it no longer loads the generic mouse driver.

I think you can try this out the following way:

1. Turn off the mouse
1. Use **your `udev` rule with the `DRIVERS=="hid-generic"`** o

[2020-06-19 10:12] RicardoEPRodrigues commented on #38
Sorry for the spam.

I now believe this is not an ElementaryOS issue, but rather I believe this is an issue that happens only when you don't have another mouse connected. (Can you give me the output of `ls /dev/input`)

I made a commit to my repo. Before loading the magic mouse driver, the script now also loads the `hid-generic` driver. @ralphsc can you please give it a try?

🤞Let's hope it works!

[2020-06-19 12:35] ralphsc commented on #38
OK, I'll give it a shot and report back. Here's you go:

ls /dev/input/
by-id    event1   event12  event15  event3  event6  event9  mouse1
by-path  event10  event13  event16  event4  event7  mice
event0   event11  event14  event2   event5  event8  mouse0

On Fri, Jun 19, 2020 at 6:13 AM Ricardo Rodrigues <notifications@github.com>
wrote:

[2020-06-19 13:02] ralphsc commented on #38
I only have one mouse and of course the trackpad on the laptop. I don't have another mouse at the moment. I tried your changes to the script, mine looks like this now:

#!/bin/sh

FILE=/tmp/magicmouse-driveload

reload() {
    if [ ! -f "$FILE" ]; then
        touch $FILE

        modprobe -r hid_magicmouse
        modprobe -a hid-generic
        sleep 2
        insmod /opt/magic-mouse-fix/hid-mag

[2020-06-19 13:08] RicardoEPRodrigues commented on #38
Use my `udev` rule. With the `DRIVERS=="hid-generic|magicmouse".

[2020-06-19 13:11] ralphsc commented on #38
I've tried it that way, it fails to load the driver.

[2020-06-19 20:52] RicardoEPRodrigues commented on #38
I believe your version of `udev` doesn't accept the `|`, but I can't be sure. I suggest creating 2 rules, one with `DRIVERS=="hid-generic"` and another with `DRIVERS=="magicmouse"`. The rest would be the same. Can you try it out?

Also, can you get to the situation where the mouse connects but does nothing and send me the `lsmod | grep hid`?

[2020-06-29 17:07] mostovych commented on #51
I'm having the same issue with scrolling not working with the mouse after restarting computer.
Another question I have concerns the difference between insmod and modprobe (I see modprobe uses insmod). After removing hid_magicmouse
`# sudo rmmod hid_magicmouse`
why wont it work if I load it back with insmod?
`# sudo insmod /lib/modules/5.3.0-61-generic/kernel/drivers/hid/hid-magicmouse.ko`

I see t

[2020-07-26 04:26] imanm93 commented on #33
@leftdevel could you please describe how you got the scrolling to work on the magic mouse 2?

Also will there be any updates to support this for ubuntu 20.04 - scrolling doesn't seem to work on this version (kernel v5.4.0-42-generic

Thanks in advance!

[2020-07-30 13:59] maomorales commented on #33
@imanm93 follow the instructions from rohitpid branch's readme. Make/compile and then run:

sudo rmmod hid-magicmouse
sudo insmod ./hid-magicmouse.ko middle_click_3finger=1

That worked form in 20.04, enjoy the scrolling! :D

[2020-08-02 08:29] Aurrix commented on #53
Hi Everyone,

I followed the instillation guidelines but it scrolling still doesn't work. I noticed that kernel module is not loaded.
So fixes proposed by @frankgould didn't really work for me.

[2020-08-21 07:00] DeeperMind opened #54 "Abnormal behaviour after installing in Ubuntu 16.04"
Following #16 , I reverted ecfde9f and installed the driver in Ubuntu 16.04. However, after installation, the magic trackpad does not work properly. I can only move the cursor when keeping pressing. And the scrolling does not work at all. Does anyone have any ideas?

[2020-08-21 07:58] mwyborski commented on #54
I would recommend updating Ubuntu. Since 19.04 it works out of the box.

[2020-09-05 17:11] gabbyhan opened #55 "Ubuntu 18.04 - libinput installation help"
I have Ubuntu 18.04 and I have installed libinput with `sudo apt-get install xserver-xorg-input-libinput` which works fine.
My magic trackpad 2 connects fine over bluetooth but requires too much pressure so I wanted to update /etc/libinput/local-overrides.quirks as mentioned in update 2019-01-07.

However, there is no such libinput folder in etc even though I have installed libinput. Any guidance

[2020-09-17 09:13] Cediddi commented on #55
Same here, When I tried installing xserver-xorg-input-libinput it tried to opt me out of HWE which is not what I want.

My current kernel is 5.4.0-47

[2020-10-24 20:43] earlofhemsley commented on #38
I have fought this for a day. I've managed to get basically nowhere. I've tried every reasonable variation I can think of, but ultimately, this just isn't working for me. I tried removing the line where `hid-generic` is added to the kernel modules. I tried altering the udev rule like this: `hid-generic|magicmouse` --> `magicmouse`, and also `hid-generic`. I tried making two rules. I restarted my s

[2020-10-24 20:48] earlofhemsley commented on #38
Sorry for spam. I also found this. Perhaps I should look at altering my xorg conf files to recogize this particular device?

https://unix.stackexchange.com/questions/422126/xorg-reports-no-input-driver-specified-ignoring-this-device-am-i-using-the

[2020-10-25 12:22] RicardoEPRodrigues commented on #38
@landon-hemsley you might be on to something. I know it works on newer systems, but I also have complaints about it not working on ElementaryOS 5 which is based on Ubuntu 18.04 if I'm not wrong.

After a quick search I found this sentence online:

It come from [Kubuntu Wiki](https://wiki.kubuntu.org/X/InputConfiguration) and it is a worthy read.

I tested it on Pop_OS 20.04 and even with an X.org

[2020-10-26 17:43] kirelagin commented on #28
Hmm, so what’s the status of this work? Are there plans to submit the patch for inclusion in the kernel?

[2020-10-26 20:24] dos1 commented on #28
Hah, it somehow fell through cracks. I'll likely take a look at this driver in the next months since I've recently seen some kernel panics coming from it when using it via USB, so that may be a good occasion to at least send an RFC :)

[2020-10-26 20:56] kirelagin commented on #28
Ok, great, in the meantime, do you happen to know if there is any easy way to access the hidraw interface from the userspace? I mean, I was just thinking, in theory, it should be possible to somehow write this magic byte sequence without a kernel module?

[2020-10-26 21:26] dos1 commented on #28
Yeah, I haven't really rushed with sending that patch out right away since I had a suspicion that it may be a thing that's better left for the user space. However, I haven't looked into hidraw at all and have no experience with it, so I don't know if there aren't some gotchas waiting to be discovered (especially given the fact that it has to be sent differently over USB and Bluetooth). The message

[2020-10-27 10:56] akozyreva commented on #33
@maomorales for me your decision works, but every time, when mouse is disconnected with bluetooth or computer sleeps for a while, scrolling doesn't work again and I need every time run these commands
[code]
Does anybody have the same execution? How to fix it?

[2020-10-27 10:59] maomorales commented on #33
@akozyreva I ended up changing the Mouse. I couldn't solve it and the time I was spending there was not a smart use of my time 😄

I guess you can create some automated script that is automatically called when some of those events happen. But not the nicest solution.

[2020-10-29 16:56] curiousercreative commented on #42
Sad to see this issue closed, I don't even know how to install the thing and verify it's working!

[2020-10-29 18:41] mwyborski commented on #42
If you dont know how to verify that your trackpad is working maybe Linux isn’t for you ;-) Otherwise any distribution with a kernel newer than 4.20 should work out of the box. Please give more constructive crticism or even better a pull request with a better README.MD. What do you expect in the Readme that isn’t there?

@wolftune the only relevant update after the merge was how to make it usable o

[2020-10-30 03:05] wolftune commented on #42
Yes indeed, this is not a repo for end-users basically. End users should just have things working and not have to do anything.

I still have issue #37 happening, but I just have this routine now of toggling on and off the touchpad whenever I wake the computer. No huge problem, though getting that fixed would be nice. But whenever that's fixed it'll get to the kernel and still there's no end-user a

[2020-11-02 01:13] EarlOfBurton opened #57 "How to integrate usr/share/X11/xorg.conf.d/90-magictrackpad.conf"
Hello,

I'm fairly new to the linux world. Thanks a lot for the repo! my trackpad2 works, but I don't know how to integrate the 90-magictrackpad.conf into my system. I copied it with sudo in the corresponding folder usr/share/X11/xorg.conf.d/90-magictrackpad.conf
And did a system reboot. But the tap to click function is not working.

Do I need to add the 90-magictrackpad.conf somewhere to be loade

[2020-11-02 08:29] adam-h commented on #57
You likely need to copy it to `/etc/X11/xorg.conf.d/90-magictrackpad.conf` as `/usr/share` is just where the template lives, `/etc` is where it will be loaded from.

[2020-11-03 20:09] EarlOfBurton commented on #57
Hi @adam-h , thanks for your reply and excuse my stupidity: in my /etc/X11/ there are just those folders:
[code]

[2020-11-03 20:18] EarlOfBurton commented on #57
@adam-h sorry for disturbing you, I noticed that my ubuntu supports those features natively, no need for that script. thanks anyway.

[2020-11-03 20:18] #57 closed

[2020-11-10 05:19] jonjonw opened #58 "No input device for USB connection"
My Magic Trackpad 2 has been working off and on over bluetooth but it doesn't automatically connect on boot and occasionally disconnects and won't reconnect until I reboot and turn the device off and on.

For now I would prefer to avoid the issue by connecting over USB instead but it seems that no input event device is created for it over USB.

I can see it in lsusb.py (other devices filtered for

[2020-11-26 00:27] earlofhemsley commented on #38
FWIW, and just to close the loop on this, I upgraded my system to 20.04.1, went through the process of re-installing the driver and applied @RicardoEPRodrigues 's fix. It worked! So, my recommendation: Upgrade! lol.

[2020-12-01 08:13] akozyreva commented on #38
trying on Manjaro - scrolling worked fine ~ 5 hours and after that doesn't work again. I followed all steps from instruction from forked README. @RicardoEPRodrigues any ideas, what can be wrong?

[2020-12-03 11:49] RicardoEPRodrigues commented on #38
@akozyreva hey! I don't know if I commented this or not, but normally after some OS updates the drivers stops working and I have to "reinstall" it.

Normally running `sudo ./install-fix.sh` and rebooting does the job.

[2020-12-04 13:48] mwyborski commented on #58
@jonjonw i have no idea what could be the reason. But maybe you can try Ubuntu in a virtual machine and cross compare?

[2020-12-05 19:36] kmani314 commented on #51
I'm also having this issue with the magicmouse2 fork on archlinux. Everything seems to be fine when I reload the driver, but I can't get it to start on boot by putting it in `/etc/modules.load.d`.

[2020-12-10 04:10] KristijanZic commented on #38
It worked for me too but I find that often the right mouse button is registered as a left mouse button or some time both.
I noticed that when browsing the web in Firefox. If I right click a link to show the context menu and go "open in a new tab" and left click it, it opens it both in the current one and in a new tab. Often times when I right click the link it just follows it immediately as if I c

[2020-12-23 15:57] paul-vd commented on #57
Is it normal that the device does not persist settings?

I had to edit my  [~/.xsessionrc](https://www.topbug.net/blog/2017/02/23/enable-natural-scrolling-for-trackpads-using-libinput/) to include the set prop, that way it will get set each time I restart.
[code]

But then I noticed that it does not persist if I reconnect the device, so I'm going to try to do something similar in the conf?

[2021-01-02 15:18] allantokuda commented on #54
I see the same problem on Ubuntu 20.04 LTS.
Pressing, I can move the cursor. Otherwise no cursor movement.
Tried creating the two files listed in the README, `/usr/share/X11/xorg.conf.d/90-magictrackpad.conf` and `/etc/libinput/local-overrides.quirks` and restarting the trackpad device. No change.
Here is what I get from `libinput list-devices`:
[code]

[2021-01-02 16:37] allantokuda commented on #54
Fixed by restarting the system. Now able to move cursor and two finger scroll! :tada: I imagine the Xorg server needed the restart for the configuration to apply.

[2021-01-06 03:36] jonjonw commented on #58
I didn't get a chance to set-up a Ubuntu VM but upgrading to linux kernel 5.10.3 seems to have revolved the problem for me.

[2021-01-06 03:36] #58 closed

[2021-02-03 11:50] mimi89999 opened #59 "Don't scroll when moving the mouse"
Hello,

When moving the mouse, my fingers and hand are moving slightly on the mouse causing it to register scroll events that makes the page and the button I'm moving the cursor to move. This issue mostly occurs with very high scroll speeds like `scroll_speed=55`. With low scroll speeds, this does not happen, but the scroll is to slow for me.

Would it be possible to add a setting to stop sending

[2021-02-08 13:05] depau commented on #59
(unauthoritative answer)

I think you should ask the libinput team about this: https://gitlab.freedesktop.org/libinput/libinput

The driver's job is to detect input events from the hardware, it's libinput's job to interpret them and transform them into UI interactions.

[2021-02-08 13:26] mimi89999 commented on #59
Hello,
I'm not sure if they would like to implement that since it's basically specific to the magic mouse. I don't know any other mouse where it would be possible to unintentionally scroll when moving it.

[2021-02-08 15:07] depau commented on #59
libinput has device quirks for quirky devices.

[2021-03-11 02:39] aleksfadini commented on #34
I also would like to have any way to know the battery state of my magic trackpad 2 on linux. Even if it means being able to check only when it is connected to a wire, that would still be a big improvement. As things stand now, we have no way to tell really.

[edit- OT] Thank you for making the trackpad work, it's fantastic.

[2021-03-29 20:23] ylluminate opened #60 "Thumb clicking moving cursor"
When using a Magic Trackpad 2 on Linux, I find that thumb clicking moves the cursor and eliminates the ability to precisely click things. What can we do about this to bring a more native macOS feel to cursor control?

[2021-04-19 16:15] vchernin commented on #59
@mimi89999 this other repo linked below seems to be specifically for the magic mouse 2 so you may have more luck there:

[https://github.com/RicardoEPRodrigues/magicmouse-hid](https://github.com/RicardoEPRodrigues/magicmouse-hid)

Someone even sent some of these linked patches to the kernel mailing lists:
https://lkml.org/lkml/2021/3/27/209

[2021-04-21 16:11] satur9nine opened #61 "Mainline driver is broken"
The mainline driver is broken in Kernel 5.8 and 5.9 at the least: https://bugzilla.kernel.org/show_bug.cgi?id=210241

It's causing kernel crashes and hangs.

[2021-04-24 01:13] IsoaSFlus commented on #28
Any further progress? Is it possible to send the config packet via bluetooth directly?

[2021-06-03 14:41] nexustar commented on #3
After reading the code of @mwyborski @dos1 @ponyfleisch , I added support to change click pressure and haptic feedback for magic trackpad 2 based on mainline driver. It works on both usb and bt. https://github.com/nexustar/linux-hid-magicmouse

[2021-07-26 07:14] alice-mkh commented on #3
@nexustar any plans for mainlining your changes?

[2021-07-26 21:23] dos1 commented on #3
@nexustar Any reason to rely on host clicking? Back when I was figuring this stuff out I pursued a solution with device clicking because host clicking increases latency, which was especially noticeable over Bluetooth.

The main reason I didn't send my code upstream so far was because it uses `hid_to_usb_dev`, which breaks HID replay, so it's unlikely that it would be accepted. I see that your code

[2021-07-26 21:31] dos1 commented on #3
Nevermind the stability issues - looks like it may have been fixed in https://github.com/torvalds/linux/commit/4fb125192563670e820991de48f8db495ecc7ff7 and https://github.com/torvalds/linux/commit/4b4f6cecca446abcb686c6e6c451d4f1ec1a7497 which means it wasn't my fault :)

[2021-07-26 21:39] alice-mkh commented on #3
The click type setting on macOS changes pressure threshold as well, not just feedback strength. It may be doable with device clicking, but not sure - macOS seems to use host clicking as well and settings there only affect feedback when using the same touchpad in linux, and none of the values in the message that sets feedback seems to change the threshold.

[2021-08-02 07:20] nexustar commented on #3
you are right

[2021-08-02 07:33] nexustar commented on #3
- I need host clicking because It is hard too click for me and I dont feel unacceptable latency ( maybe because of my bt 5.0 adapter ?
- stability issues is cause by NULL point, after fix,you could try my code, it is steady
- I think configure the trackpad in user-space is a good idea, but host clicking needs sending  packet whenever you want the trackpad be clicked. so we had better do it in kern

[2021-12-04 15:11] Wind-Explorer opened #62 "Support for Arch Linux (i3wm)"
Based on the README.md the driver is supposed to be part of the linux kernel and there shouldn't be a problem to just plug and use directly. That is the case when I was using Pop!_OS. It worked across DEs and WMs and I must say the driver works great! It feels so seemless and I really appreciate the work you folks put into this. Now when I switched to Arch Linux with i3wm, I was initially using a

[2021-12-04 15:16] #62 closed

[2021-12-04 15:20] Wind-Explorer commented on #62
ok so I spent 20 minutes writing this issue and 10 seconds after opening the issue I was like "or is it that I need a restart of x-session like how Windows needs a restart for almost every new install of software so I proceeded to end the session and `startx` back then the trackpad worked XD

[2022-04-10 16:53] NicoWeio commented on #61
Judging from the latest comment there, a patch for this landed on v5.13:
https://github.com/torvalds/linux/commit/4fb125192563670e820991de48f8db495ecc7ff7

[2022-06-11 15:15] NicoWeio commented on #3
That might be in scope for https://github.com/libratbag/piper/ (https://github.com/libratbag/libratbag) :)